.navbar {
  position: relative;
}

.lighten-blue-grey > a:hover {
  text-decoration: none;
}

.panel {
  margin-top: 10px;
}

.pagination {
  margin: 0;
  margin-bottom: 10px;
}

.no-decoration:hover {
  text-decoration: none;
}

.btn-border,
.btn-border:hover {
  border-color: white;
}
