{% load i18n %}

<div class="modal fade" id="irat-date" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          {% trans 'Edit iRAT date' %}
        </h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'questions:irat-date' discipline.slug session.id %}" method="post" novalidate>
          <!-- Form security -->
          {% csrf_token %}

          <!-- iRAT datetime -->
          <div class="form-group">
            <label for="{{date_form.irat_datetime.id_for_label}}">
              {{date_form.irat_datetime.label}}
            </label>

            <input
              type="datetime-local"
              id="{{date_form.irat_datetime.id_for_label}}"
              name="{{date_form.irat_datetime.name}}"
              class="form-control"
              value="{{session.irat_datetime|date:"Y-m-d\TH:i"}}"
            />
            <span>{{session.irat_datetime}}</span>
          </div>

          <!-- Submit button -->
          <button type="submit"
                  class="btn btn-default submit-button center-block gradient">
                  <i class="fa fa-edit"></i>
                  {% trans 'Edit' %}
          </button>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
