{% extends 'grades/list.html' %}
{% load replace %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'grades/css/edit.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header profile">
      <h1 class="white">
        {% trans 'Edit' %} {{grade.student.get_short_name}} {% trans 'grade' %}
      </h1>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Form without html5 validation -->
        <form action="{% url 'grades:update' discipline.slug session.id grade.student.id %}" method="post" novalidate>
          <!-- Form security -->
          {% csrf_token %}

          <!-- Get all erros from form -->
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}

          <!-- grade iRAT -->
          <div class="form-group">
            <label class="white" for="{{form.irat.id_for_label}}">
              {{form.irat.label}}
            </label>

            <input
              type="number"
              name="{{form.irat.name}}"
              value="{{grade.irat|floatformat:2|change:", ."}}"
              class="form-control"
              min="0.0" max="10.0"
              id="{{form.irat.id_for_label}}"
              step="0.1"
              required
            />
          </div>

          <!-- grade gRAT -->
          <div class="form-group">
            <label class="white" for="{{form.grat.id_for_label}}">
              {{form.grat.label}}
            </label>

            <input
              type="number"
              name="{{form.grat.name}}"
              value="{{grade.grat|floatformat:2|change:", ."}}"
              class="form-control"
              min="0.0" max="10.0"
              id="{{form.grat.id_for_label}}"
              step="0.1"
              required
            />
          </div>

          <!-- grade practical -->
          <div class="form-group">
            <label class="white" for="{{form.practical.id_for_label}}">
              {{form.practical.label}}
            </label>

            <input
              type="number"
              name="{{form.practical.name}}"
              value="{{grade.practical|floatformat:2|change:", ."}}"
              class="form-control"
              min="0.0" max="10.0"
              id="{{form.practical.id_for_label}}"
              step="0.1"
              required
            />
          </div>

          <!-- grade peer review -->
          <div class="form-group">
            <label class="white" for="{{form.peer_review.id_for_label}}">
              {{form.peer_review.label}}
            </label>

            <input
              type="number"
              name="{{form.peer_review.name}}"
              value="{{grade.peer_review|floatformat:2|change:", ."}}"
              class="form-control"
              min="0.0" max="10.0"
              id="{{form.peer_review.id_for_label}}"
              step="0.1"
              required
            />
          </div>

          <!-- Submit button -->
          <button type="submit"
                  class="btn btn-default submit-button center-block gradient">
                  <i class="fa fa-edit"></i>
                  {% trans 'Edit' %}
          </button>
        </form>
      </div> <!-- Close col -->
    </div> <!-- Close row -->
  </div> <!-- Close container -->
{% endblock %}
