.programation {
  margin-left: 20px;
}

.programation > dt {
  margin-bottom: 10px;
  margin-top: 10px;
}

.media-body {
  padding-top: 10px;
}

.media-object {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
