{% extends 'accounts/profile.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/edit_information.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'accounts:update-user' %}">
      {% trans 'Edit information' %}
    </a>
  </li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header profile">
      <h1 class="white">
        {% trans 'Edit personal information' %}
      </h1>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="col-sm-12">
        <!-- enctype is to send file by post -->
        <form method="post" enctype="multipart/form-data" novalidate>
          <!-- Form security -->
          {% csrf_token %}

          <!-- Get all erros from form -->
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}

          <!-- Fields -->
          <fieldset>
            <!-- Image -->
            <div class="input-group center-block">
              {% if user.photo %}
                <img
                  src="{{ user.photo.url }}"
                  class="img-rounded img-responsive img-size center-block"
                  alt="User"
                />
              {% else %}
                <img
                  src="{% static 'accounts/img/user.png' %}"
                  class="img-rounded img-responsive center-block"
                  alt="User"
                />
              {% endif %}
            </div>

            <!-- Image field -->
            <div class="input-group center-block white">
              {% if user.photo %}
                Atualmente:
                <a href="{{user.photo.url}}">{{user.photo.name}}</a>
                <input
                  type="checkbox"
                  name="{{form.photo.name}}-clear"
                  id="{{form.photo.name}}-clear_id"
                />
                <label for="{{form.photo.name}}-clear_id">Limpar</label>
                <br />Modificar:
              {% endif %}
              <input
                type="file"
                name="{{form.photo.name}}"
                id="{{form.photo.id_for_label}}"
                class="form-control"
              />
            </div>

            <hr />

            <!-- Username field -->
            <div class="{% if form.username.errors %}alert alert-warning{% endif %}">
              <div class="input-group">
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{ form.username.label }}">
                      <i class="fa fa-user-secret icon-md"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.username.name}}"
                  placeholder="{{form.username.help_text}}"
                  value="{{user.username}}"
                />
              </div>

              <!-- Username errors -->
              {% for error in form.username.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Name field -->
            <div class="{% if form.name.errors %}alert alert-warning{% endif %}">
              <div class="input-group">
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{ form.name.label }}">
                      <i class="fa fa-user icon-md"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  name="{{form.name.name}}"
                  placeholder="{{form.name.help_text}}"
                  value="{{user.name}}"
                />
              </div>

              <!-- Name errors -->
              {% for error in form.name.errors %}
                  <span class="error">
                    {{ error }}
                  </span>
              {% endfor %}
            </div>

            <!-- Email field -->
            <div class="{% if form.email.errors %}alert alert-warning{% endif %}">
              <div class="input-group">
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{ form.email.label }}">
                      <i class="fa fa-envelope"></i>
                </span>
                <input
                  type="email"
                  name="{{form.email.name}}"
                  value="{{user.email}}"
                  class="form-control"
                  placeholder="{{form.email.help_text}}"
                  required
                />
              </div>

              <!-- Email errors -->
              {% for error in form.email.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Institution field -->
            <div class="{% if form.institution.errors %}alert alert-warning{% endif %}">
              <div class="input-group">
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{ form.institution.label }}">
                      <i class="fa fa-institution"></i>
                </span>
                <input
                  type="text"
                  name="{{form.institution.name}}"
                  value="{{user.institution}}"
                  class="form-control"
                  placeholder="{{form.institution.help_text}}"
                  required
                />
              </div>

              <!-- Institution errors -->
              {% for error in form.institution.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Course field -->
            <div class="{% if form.course.errors %}alert alert-warning{% endif %}">
              <div class="input-group">
                <span
                  class="input-group-addon gradient"
                  data-toggle="tooltip"
                  title="{{ form.course.label }}">
                  <i class="fa fa-graduation-cap"></i>
                </span>
                <input
                  type="text"
                  name="{{form.course.name}}"
                  value="{{user.course}}"
                  class="form-control"
                  placeholder="{{form.course.help_text}}"
                  required
                />
              </div>

              <!-- Course errors -->
              {% for error in form.course.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          </fieldset>

          <!-- Submit button -->
          <button type="submit"
                  class="btn btn-primary submit-button center-block">
                  <i class="fa fa-edit"></i>
                  {% trans 'Edit' %}
          </button>
        </form>
      </div> <!-- Close col -->
    </div> <!-- Close row -->
  </div> <!-- Close container -->
{% endblock %}
