{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/authentication.css' %}" />
{% endblock %}

{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>
    {% include 'core/messages.html' %}

    <!-- Login block -->
    <div class="login">
      <h1>Login</h1>

      <!-- Form -->
      <form method="post" novalidate>
        <!-- Form security -->
        {% csrf_token %}

        <!-- Get all generic erros from form -->
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endfor %}

        <!-- Username or email field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user white"></i>
            </span>
            <input
              type="text"
              name="{{form.username.name}}"
              class="input-login form-control"
              placeholder="{{form.username.label}}"
              autofocus
            />
          </div>

          <!-- Username errors -->
          {% for error in form.username.errors %}
            <span class="error">
              {{ error }}
            </span>
          {% endfor %}
        </div>

        <!-- Password field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock icon-md white"></i>
            </span>
            <input
              type="password"
              name="{{form.password.name}}"
              class="input-login form-control"
              placeholder="{{form.password.label}}"
            />
          </div>

          <!-- Password errors -->
          {% for error in form.username.errors %}
            <span class="error">
              {{ error }}
            </span>
          {% endfor %}
        </div>

        <!-- Submit button-->
        <button class="btn btn-lg btn-primary btn-block login-btn"
                type="submit">
                {% trans 'Enter' %}
        </button>

        <!-- Forget password link -->
        <a href="{% url 'accounts:reset-password' %}"
           class="forget-password">
           {% trans 'Forget password' %} ?
        </a>
      </form>
    </div> <!-- Close login block -->
  </main>
{% endblock %}
