{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
{% endblock %}

{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>

    <!-- Breadcrumbs navegation -->
    <div class="row">
      <div class="col-sm-12 navegation">
        <ul class="breadcrumb pull-left">
          {% block breadcrumb %}
            <li>
              <a href="{% url 'accounts:profile' %}">
                {% trans 'Profile' %}
              </a>
            </li>
          {% endblock %}
        </ul>

        <!-- Breadcrumbs date -->
        <p class="pull-right">
          {% trans 'Welcome' %} {{user.get_short_name}}
          <i class="fa fa-child"></i>
        </p>
      </div>
    </div>

    <!-- Profile page -->
    <div class="row">

      <!-- Sidebar page -->
      {% block sidebar %}
        {% include 'accounts/sidebar.html' %}
      {% endblock %}

      <div class="col-sm-10">
        <!-- Messages -->
        {% include 'core/messages.html' %}

        <!-- Content -->
        {% block content %}
          <!-- profile -->
          <div class="container-fluid">
            <!-- Header -->
            <div class="page-header profile">
              <h1 class="white">
                {% trans 'Profile' %}
              </h1>
            </div>

            <!-- Body -->
            <div class="row">
              <!-- Profile photo -->
              <div class="col-sm-3">
                {% if user.photo %}
                  <img
                    src="{{ user.photo.url }}"
                    class="img-rounded img-responsive img-size center-block"
                    alt="User"
                  />
                {% else %}
                  <img
                    src="{% static 'accounts/img/user.png' %}"
                    class="img-rounded img-responsive img-size cente-block"
                    alt="User"
                  />
                {% endif %}
              </div>

              <!-- Profile information -->
              <div class="col-sm-9">
                <!-- Labels -->
                <div class="row">
                  <!-- Teacher label -->
                  {% if user.is_teacher %}
                    <span class="label label-primary pull-left label-text">
                      {% trans 'Teacher' %}
                    </span>
                  <!-- Student label -->
                  {% else %}
                    <span class="label label-primary pull-left label-text">
                      {% trans 'Student' %}
                    </span>
                  {% endif %}

                  <!-- ID label -->
                  <span class="label label-primary label-number pull-right">
                    {{user.username}}
                  </span>
                </div>

                <!-- Personal informations -->
                {% if user.name %}
                  <h2 class="name">{{user.get_short_name}}</h2>
                {% else %}
                  <h2 class="name">{% trans 'Change your name!' %}</h2>
                {% endif %}
                <table class="lighten-blue-grey">
                  <!-- Email -->
                  <tr>
                    <td>
                      <i class="fa fa-envelope"></i>
                      <b>{% trans 'Email' %}</b>:
                    </td>
                    <td>{{ user.email }}</td>
                  </tr>

                  <!-- Institution -->
                  <tr>
                    <td>
                      <i class="fa fa-institution"></i>
                      <b>{% trans 'Institution' %}</b>:
                    </td>
                    <td>{{ user.institution }}</td>
                  </tr>

                  <!-- Course -->
                  <tr>
                    <td>
                      <i class="fa fa-graduation-cap"></i>
                      <b>{% trans 'Course' %}</b>:
                    </td>
                    <td>{{ user.course }}</td>
                  </tr>
                </table>
              </div> <!-- Close profile information -->
            </div> <!-- Close body -->

            <!-- Authentication information -->
            <div class="row">
              <div class="col-sm-12">
                <p class="lighten-blue-grey pull-left">
                  <i class="fa fa-history"></i>
                  <b>{% trans 'Last login' %}</b>:
                  {{user.last_login}}
                </p>
                <p class="lighten-blue-grey pull-right">
                  {% trans 'Updated ' %}{{ user.updated_at | timesince }} {% trans ' ago' %}
                </p>
              </div>
            </div>
            {% include 'accounts/collapse.html' %}
          </div>
        {% endblock %}
      </div>
    </div>
  </main>
  {% include 'accounts/delete.html' %}
{% endblock %}
