{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/authentication.css' %}" />
{% endblock %}

{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>
    <!-- Register block -->
    <div class="login">
      <h1>{% trans 'Register' %}</h1>

      <!-- Form -->
      <form method="post" novalidate>
        <!-- Form security -->
        {% csrf_token %}

        <!-- Get all erros from form -->
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endfor %}

        <!-- Name field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user-circle icon-md white"></i>
            </span>
            <input
              type="text"
              name="{{form.name.name}}"
              class="form-control"
              placeholder="{{form.name.label}}"
              required
            />
          </div>

          <!-- Username errors -->
          {% for error in form.name.errors %}
            <span class="error">
              {{ error }}
            </span>
          {% endfor %}
        </div>

        <!-- Username field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user-circle-o icon-md white"></i>
            </span>
            <input
              type="text"
              name="{{form.username.name}}"
              class="form-control"
              placeholder="{{form.username.label}}"
              required
            />
          </div>

          <!-- Username errors -->
          {% for error in form.username.errors %}
            <span class="error">
              {{ error }}
            </span>
          {% endfor %}
        </div>

        <!-- Email field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-envelope icon-md white"></i>
            </span>
            <input
              type="email"
              name="{{form.email.name}}"
              class="form-control"
              placeholder="{{form.email.label}}"
              required
            />
          </div>

          <!-- Email errors -->
          {% for error in form.email.errors %}
            <span class="error">
              {{ error }}
            </span>
          {% endfor %}
        </div>

        <!-- Teacher or Student field -->
        <div class="group">
          <div class="form-group">
            <label for="{{form.is_teacher.auto_id}}"
                   class="white">
                   {% trans 'Select the type of user' %}:
            </label>
            <select name="{{form.is_teacher.name}}" type="select" class="form-control">
              {% for type in form.is_teacher %}
                {{type}}
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Password field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock icon-md white"></i>
            </span>
            <input
              type="password"
              name="{{form.password1.name}}"
              class="form-control"
              placeholder="{{form.password1.label}}"
              required
            />
          </div>

          <!-- Password errors -->
          {% for error in form.password1.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Password confirmation field -->
        <div class="group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock icon-md white"></i>
            </span>
            <input
              type="password"
              name="{{form.password2.name}}"
              class="form-control"
              placeholder="{{form.password2.label}}"
              required
            />
          </div>

          <!-- Password confirmation errors -->
          {% for error in form.password2.errors %}
            <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <hr />

        <!-- Submit button -->
        <button class="btn btn-lg btn-primary btn-block"
                type="submit">
                {% trans 'Send' %}
        </button>
      </form>
    </div> <!-- Close register block -->
  </main>
{% endblock %}
