{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/edit_password.css' %}" />
{% endblock %}

{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>
    <div class="container">
      <!-- Header -->
      <div class="page-header">
        <h1 class="white">
          {% trans 'Reset password' %}
        </h1>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <form method="post">
            <!-- Form security -->
            {% csrf_token %}

            <!-- Get all erros from form -->
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}

            <!-- Email field -->
            <div class="{% if form.email.errors %}alert alert-warning{% endif %}">
              <div class="input-group">
                <span class="input-group-addon gradient">
                  <i class="fa fa-envelope icon-md"></i>
                </span>
                <input
                  type="email"
                  name="{{form.email.name}}"
                  class="form-control"
                  placeholder="{{form.email.label}}"
                />
              </div>

              <!-- Email errors -->
              {% for error in form.email.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Submit button -->
            <button type="submit"
                    class="btn btn-primary center-block password-button">
                    <i class="fa fa-send"></i>
                    {% trans 'Send email' %}
            </button>
          </form>
        </div> <!-- End col -->
      </div> <!-- End row -->
    </div> <!-- End container -->
  </main>
{% endblock %}
