{% load static %}
{% load i18n %}

<!-- Profile sidebar -->
<div class="col-sm-2">
  <div class="btn-group-vertical">
    <!-- Profile menu -->
    <a href="{% url 'accounts:profile' %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Profile' %}"
       data-intro='Aqui você acessa o perfil'>
       <i class="fa fa-user icon-lg"></i>
       <p>{% trans 'Profile' %}</p>
    </a>

    <!-- Edit information menu -->
    <a href="{% url 'accounts:update-user' %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Edit personal information' %}"
       data-intro='Aqui você edita suas informações pessoais'>
       <i class="fa fa-edit icon-lg"></i>
       <p>{% trans 'Update Account' %}</p>
    </a>

    <!-- Edit password menu -->
    <a href="{% url 'accounts:update-password' %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Edit password' %}"
       data-intro='Aqui você altera sua senha'>
       <i class="fa fa-expeditedssl icon-lg"></i>
       <p>{% trans 'Update Password' %}</p>
    </a>

    <!-- Search discipline and classroom menu -->
    <a href="{% url 'disciplines:search' %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Search discipline and classroom' %}"
       data-intro='Aqui você pode procurar disciplinas e salas de aula'>
       <i class="fa fa-search icon-lg"></i>
       <p>{% trans 'Search Discipline' %}</p>
    </a>

    <!-- Create discipline and classroom menu -->
    {% if user.is_teacher %}
      <a href="{% url 'disciplines:create' %}"
         class="btn" data-toggle="tooltip"
         data-placement="right"
         title="{% trans 'Create discipline and classroom' %}"
         data-intro='Aqui você pode criar disciplinas e salas de aula'
         >
         <i class="fa fa-book icon-lg"></i>
         <p>{% trans 'Create Discipline' %}</p>
      </a>
    {% endif %}

    <!-- Open message -->
    <a href="{% url 'notifications:list' %}"
       class="btn" data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Notification' %}"
       data-intro='Aqui você acessa suas mensagens'
       >
       <i class="fa fa-envelope icon-lg"></i>
       <p>{{user.notifications.count}} {% trans 'Notification' %}{{user.notifications.count | pluralize}}</p>
    </a>

    <!-- Button to open delete user modal -->
    <button type="button"
            class="btn side-button"
            data-toggle="modal"
            data-target="#delete-user-modal"
			data-placement="right"
            data-intro='Aqui você deleta seu usuário'>
            <i class="fa fa-trash icon-lg"></i>
            <p>{% trans 'Delete Account' %}</p>
    </button>
  </div>
</div>
