<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Game rules</h4>
      </div>
      <div class="modal-body">
        <p>The rules of the game are simple:</p>
        <ul>
          <li>The Peer review is necessary to evaluate the performance of your team colleague during the TBL process.</li>
          <li>This evaluation is entirely anonymous, only the evaluated student can see the feedback and his name will not be shown.</li>
          <li>The student has the option of leaving a comment for the evaluated colleague, it will be shown in their profile anonymously.</li>
          <li>You'll have 100 points to distribute among the participants of your group.</li>
          <li>The evaluation sum of all group members evaluating you will constitute your grade in the respective evaluation.</li>
          <li>If the sum exceeds 100 points a grade bonus will occur, otherwise the grade will be the default evaluation mentioned before.</li>
          <li><b>Example 01</b>: In a team of 5 people, each member of the team gives you 20 points, resulting in a total of 100 points granting you maximum grade.</li>
          <li><b>Example 02</b>: In a team of 5 people, each member of the team gives you a specific number of points and the final sum is 110, in that case you'll get the maximum grade plus a bonus of 10 points, that's equal to the exceeding value past 100.</li>
          <li><b>Example 03</b>: In a team of 5 people, each member of the team gives you a specific number of points and the final sum is 80, then your grade will be calculated accordingly to that total points.</li>
        </ul>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
