<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Regras do jogo</h4>
      </div>
      <div class="modal-body">
        <p>As regras do jogo são bem simples:</p>
        <ul>
          <li>A Avaliação em pares serve para avaliar o desempenho do seus colegas de equipe durante a realização do TBL.</li>
          <li>Essa avaliação é totalmente anônima, somente o aluno avaliado irá receber o feedback e não aparecerá seu nome.</li>
          <li>O aluno poderá deixar um comentario para o colega avaliado, isso irá aparecer em seus perfil em anônimo.</li>
          <li>Você terá 100 pontos para distribuir entre os participantes do seu grupo.</li>
          <li>A somatoria da avaliação de todos os membros do grupo te avaliando irá compor a sua nota nessa avaliação.</li>
          <li>Se a somatória passar de 100 pontos irá ter um bonûs na nota, caso contrario irá compor a nota de acordo com a pontuação.</li>
          <li><b>Exemplo 01</b>: Em uma equipe de 5 membros, cada membro insere 20 pontos em você, logo somando tudo dará 100 pontos e você ganhará nota máxima.</li>
          <li><b>Exemplo 02</b>: Em uma equipe de 5 membros, cada membro insere a pontuação em você e a somatoria da 110, logo você receberá a pontuação máxima mais um bônus.</li>
          <li><b>Exemplo 03</b>: Em uma equipe de 5 membros, cada membro insere a pontuação em você e a somatória da 80, logo será calculado sua nota de acordo com essa pontuação.</li>
        </ul>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>