<div class="row">
    <div class="col-sm-12 navegation">
        <!-- Pages path -->
        <ul class="breadcrumb pull-left">
          <li><a href="{% url 'core:home' %}">Home</a></li>
          <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
          <li><a href="{% url 'disciplines:details' discipline.slug %}">{{discipline.course}}</a></li>
          <li><a href="../../">{{session}}</a></li>
          <li><a href="../details">Session {{session.id}}</a></li>
          <li><a href="">Peer Evaluation</a></li>
        </ul>
        <p class="pull-right">{{ date }} <i class="fa fa-calendar"></i></p>
    </div>
</div>
