{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'peer_review/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'peer_review/css/pares.css' %}">
    <link rel="stylesheet" href="{% static 'peer_review/css/sidebar.css' %}">
{% endblock %}

{% block body %}
    <header>
      {% include 'core/navbar.html' %}
    </header>
    <main>
      <!-- Pages path -->
      {% include 'peer_review/pages_path.html' %}

      <div class="row">
        <!-- Sidebar page -->
        {% block sidebar %}
          {% include 'peer_review/sidebar.html' %}
        {% endblock %}

        <!-- profile -->
        {% include 'peer_review/profile.html' %}
            <div class="row fix-row">
              <div class="panel panel-default header-down">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-11 text-center">
                      <b>Avaliação em pares</b>
                    </div>
                    <div class="col-sm-1">
                      <a href="#" class="roles pull-right" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-info-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form method="post" action="irat_result.html">
                        {% for student in students %}
                            <div class="row">
                              <div class="col-sm-2">
                              <!-- Student photo -->
                              {% if student.photo %}
                                  <img src="{{student.photo.url}}" class="media-object" style="width:80px">
                              {% else %}
                                  <img src="{% static 'peer_review/img/user.png' %}" class="media-object" style="width:100px">
                              {% endif %}
                                <div class="form-group">
                                  <input type="number" class="form-control number" name="point" min="0" max="100" placeholder="Pontuação">
                                </div>
                              </div>
                              <div class="col-sm-10">
                                <h3>{{student.get_full_name}}</h3>
                                <div class="form-group">
                                  <label for="comment">Comentário:</label>
                                  <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                                </div>
                              </div>
                            </div>
                            <hr />
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">
                          Concluir <i class="fa fa-send"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  {% include 'peer_review/info.html' %}
{% endblock %}
