{% extends 'TBLSessions/details.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% load filterGRAT %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'questions/css/list.css' %}" />
  <link rel="stylesheet" href="{% static 'questions/css/scratchcard.css' %}" />
{% endblock %}

{% block js %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="{% static "questions/js/newscratch.js" %}"></script>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'questions:grat-list' discipline.slug session.id %}">
       {% trans 'gRAT' %}
    </a>
  </li>
{% endblock %}

<!-- Discipline list block -->
{% block content %}
  <div class="container-fluid">
    <div class="page-header profile">
      <h1 class="white">
        <i class="fa fa-leanpub"></i>
        {% trans 'Group Readiness Assurance Test (gRAT)' %}<br />
        <small>{{discipline.title}} - {{session.title}}</small>
      </h1>
    </div>
    <div class="row fix-row white">
      <div class="col-sm-12">
        <div class="row">
          <div class="panel panel-default questions gradient">
            <div class="panel-body">
              <div class="col-sm-7">
                <h4>
                  <i class="fa fa-graduation-cap"></i>
                  <span class="course">{% trans 'Course' %}:</span>
                  {{discipline.course}}
                </h4>
                <h4>
                  <i class="fa fa-book"></i>
                  <span class="classes">{% trans 'Discipline' %}:</span>
                  {{discipline.title}}
                </h4>
                <h4>
                  <i class="fa fa-user"></i>
                  <span class="teacher">{% trans 'Teacher' %}:</span>
                  {{discipline.teacher.get_short_name}}
                </h4>
              </div>
              <div class="col-sm-5">
                {% if user == discipline.teacher %}
                  <h1 class="time text-right">
                    <i class="fa fa-clock-o"></i>
                    <a href="#"
                       data-toggle="modal"
                       data-target="#grat-update">
                       {{session.grat_duration}}:00
                    </a>
                  </h1>
                  {% include 'questions/grat_update.html' %}
                {% else %}
                  <h1 class="time text-right">
                    <i class="fa fa-clock-o"></i>
                    {{session.grat_duration}}:00
                  </h1>
                {% endif %}
                <br />
                {% if user == discipline.teacher %}
                  <h4 class="date text-right">
                    <a href="#"
                       data-toggle="modal"
                       data-target="#grat-date">
                       {{session.grat_datetime|date:"d/m/Y H:i"}}
                       <i class="fa fa-calendar"></i>
                    </a>
                  </h4>
                  {% include 'questions/grat_date.html' %}
                {% else %}
                  <h4 class="date text-right">
                    {{session.grat_datetime|date:"d/m/Y H:i"}}
                    <i class="fa fa-calendar"></i>
                  </h4>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row fix-row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-11 text-center">
              <b>{% trans 'gRAT' %}</b>
            </div>
            <div class="col-sm-1">
              <a href="#"
                 class="roles pull-right"
                 data-toggle="modal"
                 data-target="#grat-info">
                 <i class="fa fa-info-circle"></i>
              </a>
              {% include 'questions/grat_info.html' %}
            </div>
          </div>
        </div>
        <div class="panel-body">
          {% include 'questions/progress_bar.html' %}
          {% for question in questions %}
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  {% if user == discipline.teacher %}
                    <div class="col-sm-8" id="question">
                      <h3>
                        {{page_obj.number}}) {{question.title}}<br />
                        <small>{{question.topic}} - ({{question.level}})</small>
                      </h3>
                    </div>
                    <div class="col-sm-4">
                      <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                          <a href="{% url 'questions:update-question' discipline.slug session.id question.id %}"
                             class="btn btn-primary">
                             <i class="fa fa-edit"></i>
                             {% trans 'Edit' %}
                          </a>
                        </div>
                        <div class="btn-group">
                          <button type="button"
                                  class="btn btn-danger"
                                  data-toggle="modal"
                                  data-target="#delete-{{question.id}}-modal">
                                  <i class="fa fa-trash"></i>
                                  {% trans 'Delete' %}
                          </button>
                          {% include 'questions/delete.html' %}
                        </div>
                      </div>
                    </div>
                  {% else %}
                    <div class="col-sm-12" id="question">
                      <h3>
                        {{page_obj.number}}) {{question.title}}<br />
                        <small>{{question.topic}} - ({{question.level}})</small>
                      </h3>
                    </div>
                  {% endif %}
                </div>
                <hr />
                {% if not question|filterGRAT:user or user.is_teacher %}
                <form action="{% url 'questions:grat-answer-question' discipline.slug session.id question.id page_obj.number %}" method="POST">
                  {% csrf_token %}

                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <!-- Score field -->
                        {% render_field form1.score class="form-control" %}
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h4 class="text-justify">
                        {{question.alternatives.all.0.title}}
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <!-- Score field -->
                        {% render_field form2.score class="form-control" %}
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h4 class="text-justify">
                        {{question.alternatives.all.1.title}}
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <!-- Score field -->
                        {% render_field form3.score class="form-control" %}
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h4 class="text-justify">
                        {{question.alternatives.all.2.title}}
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-group">
                        <!-- Score field -->
                        {% render_field form4.score class="form-control" %}
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <h4 class="text-justify">
                        {{question.alternatives.all.3.title}}
                      </h4>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary submit-button center-block gradient">
                    <i class="fa fa-edit"></i>
                    {% trans 'Answer' %}
                  </button>
                </form>
                {% else %}
                <form action="{% url 'questions:grat-answer-question' discipline.slug session.id question.id page_obj.number %}" method="POST">
                  {% csrf_token %}
                  <div class="container" id="scratch-container">
                    <canvas class="canvas" id="scratch-canvas" width="300" height="190"></canvas>
                    <div class="winner-box">
                      <h1>Your answer</h1>
                      <h1>Score:{{question|filterGRAT:user}}</h1>
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary submit-button center-block gradient">
                    <i class="fa fa-edit"></i>
                    {% trans 'Answer' %}
                  </button>
                </form>
                {% endif %}
              </div>
            </div>
          {% empty %}
            <p>{% trans 'There is no questions in this session.' %}</p>
          {% endfor %}
          {% if questions.count > 0 %}
            {% include 'questions/grat_pagination.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
