

{% load i18n %}
{% load static %}

{% block cssS %}
<style type="text/css">
  * {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
   /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
  }

    .box {
      display: inline-block;
      color: #FFF;
      background: #000;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }

    .box:hover {
      background: #444;
    }

    .big {
      font-size: 2em;
      display: inline-block;
      margin: 10px;
    }
    .container {
      position: relative;
      display: inline-block;
      width: 533px;
      height: 800px;
    }

    #robot {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      -webkit-box-shadow: 0px 0px 20px 0px #707070;
      -moz-box-shadow: 0px 0px 20px 0px #707070;
      box-shadow: 0px 0px 20px 0px #707070;
    }

    #redux {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
    }


    }
    small {
      font-size: 12px;
      color: #BBB;
      font-weight: normal;
    }

  </style>
{% endblock %}


<!-- Close modal -->
<div id="My-modal" class="modal fade">
  <div class="modal-dialog ">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <button type="button"
        class="close"
        data-dismiss="modal">
        <i class="fa fa-close"></i>
        </button>
      </div>

    <!-- Body -->
      <div class="modal-body">
        <div class="container" >
          <img id="robot" src="{% static "questions/img/robot.jpg" %}" />
          <img id="redux" src="{% static "questions/img/robot_redux.png" %}" />
        </div>
      </div>

      <a href="{% url 'questions:irat-result' discipline.slug session.id %}"
        class="btn btn-primary pull-right">
        <i class="fa fa-flag-checkered"></i>
        {% trans 'Done' %}
      </a>

    <script type = "text/javascript">

        $(function(){
          $('#redux').eraser();
        });

    </script>
    </div> <!-- Close model footer -->
  </div> <!-- Close model content -->
</div>
