{% extends 'disciplines/details.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'students/css/list.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'disciplines:students' discipline.slug %}">
      {% trans 'Students list' %}
    </a>
  </li>
{% endblock %}

{% block content %}
  <!-- student list header -->
  <div class="page-header fix-row">
    <div class="row">
      <div class="col-sm-10">
        <h1 class="white">
          <i class="fa fa-users"></i> {% trans 'Student List' %}<br />
          <small>{{discipline.title}}</small>
        </h1>
      </div>

      <!-- student list filter -->
      <div class="col-sm-2">
        <div class="dropdown">
          <button class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
            Filtro
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <!-- All disciplines -->
            <li>
              <a class="text-center" href="{% url 'disciplines:students' discipline.slug %}">
                {% trans 'All' %}
              </a>
            </li>

            <!-- Filter by students -->
            <li>
              <a class="text-center" href="?filter=students">
                <span class="badge pull-left">
                  {{discipline.students.count | stringformat:"02d"}}/{{discipline.students_limit | stringformat:"02d"}}
                </span>
                {% trans 'Students' %}
              </a>
            </li>

            <!-- Filter by monitors -->
            <li>
              <a class="text-center" href="?filter=monitors">
                <span class="badge pull-left">
                  {{discipline.monitors.count | stringformat:"02d"}}/{{discipline.monitors_limit | stringformat:"02d"}}
                </span>
                {% trans 'Monitors' %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- Student list -->
  <div class="row fix-row">
    <!-- Add new student -->
    {% if user == discipline.teacher %}
      <a href="{% url 'disciplines:users' slug=discipline.slug %}"
         class="btn btn-primary btn-lg add-button">
         <i class="fa fa-plus"></i>
      </a>
    {% endif %}

    <!-- Student list -->
    {% for student in students %}
      <div class="col-sm-4">
        <!-- Student -->
        <div class="media media-students">
          <div class="media-left">
            <!-- Photo -->
            {% if student.photo %}
              <img src="{{student.photo.url}}" class="media-object" style="width:60px">
            {% else %}
              <img src="{% static 'disciplines/img/user.png' %}" class="media-object" style="width:60px">
            {% endif %}

            <!-- if is student or monitor -->
            {% if user == discipline.teacher %}
              <form action="{% url 'disciplines:change-student' discipline.slug student.pk %}" method="POST">
                {% csrf_token %}
                {% if student in discipline.monitors.all %}
                  <button type="submit" class="submit-link center-block">
                     {%trans 'Monitor' %}
                  </button>
                {% else %}
                  <button type="submit" class="submit-link center-block">
                     {%trans 'Student' %}
                  </button>
                {% endif %}
              </form>
            {% else %}
                {% if student in discipline.monitors.all %}
                  <p class="white text-center">{% trans 'Monitor' %}</p>
                {% else %}
                  <p class="white text-center">{% trans 'Student' %}</p>
                {% endif %}
            {% endif %}
          </div>

          <!-- Student information -->
          <div class="media-body white">
            <h4 class="media-heading">
              <!-- Student name -->
              {% if student.name %}
                {{student.get_short_name}}
              {% else %}
                {{student.username|capfirst}}
              {% endif %}

              <!-- Remove student -->
              {% if user.id == discipline.teacher.id or user.id == student.id %}
                <span class="pull-right">
                  <button
                    type="button"
                    class="close remove-student-button"
                    data-toggle="modal"
                    data-target="#{{student.id}}-model">
                    <i class="fa fa-close"></i>
                  </button>
                </span>
              {% endif %}
            </h4>

            <!-- student email -->
            <p>{{student.email}}</p>
          </div>
        </div>
      </div>
      {% include 'students/remove.html' %}
    {% empty %}
      <div class="well">{% trans 'There is no students in this class.' %}</div>
    {% endfor %}
  </div>

  <!-- Students pagination -->
  {% include 'core/pagination.html' %}
{% endblock %}
