{% load i18n %}

<!-- Features -->
<div class="container">
  <!-- Features header -->
  <div class="page-header" id="features">
    <h1 id="timeline" class="white">
      {% trans 'Features' %}
    </h1>
  </div>

  <!-- Features timeline -->
  <ul class="timeline">
    <!-- Manage disciplines and students feature -->
    <li>
      <div class="timeline-badge primary">
        <i class="fa fa-graduation-cap"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            {% trans 'Manage disciplines and students' %}
          </h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            {% blocktrans %}
              The teacher can add, remove, create and edit courses and classes and provide the
              password for them to enter. in addition to being able to remove students from the
              discipline and add it to other disciplines of their own and to manage their grades.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </li>

    <!-- TBL features -->
    <li class="timeline-inverted">
      <div class="timeline-badge warning">
        <i class="fa fa-users"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            {% trans 'TBL features' %}
          </h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            {% blocktrans %}
              Functions related to the phases of preparation, guarantee of preparation or RAT, iRAT, gRAT and
              appeals, Application of concepts and evaluation in pairs
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </li>

    <!-- Report features -->
    <li>
      <div class="timeline-badge danger">
        <i class="fa fa-bar-chart"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            {% trans 'Report' %}
          </h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            {% blocktrans %}
              The teacher will have a dashboard with reports of student performance on each assessment question,
              feedback to what he or she should focus on most in class, and generate a csv of student proofs with
              their answers.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </li>

    <!-- Rank and gamification feature -->
    <li class="timeline-inverted">
      <div class="timeline-badge success">
        <i class="fa fa-gamepad"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
            {% trans 'Rank and Gamification' %}
          </h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            {% blocktrans %}
              There will also be a group rank in which the first place will be displayed in the Hall of Fame that
              will be seen by new students of the next semesters, there is no individual rank because the objective
              is not the competition but the collaboration. In addition to having a gamefication in the list of
              exercises among other places of the software.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
