{% load i18n %}
{% load static %}

<!-- Footer -->
<div class="footer-nav-black">
  <!-- Tab menu -->
  <ul class="nav nav-tabs nav-justified">
    <!-- About tab -->
    <li class="active">
      <a data-toggle="tab"
         href="#about"
         class="footer-navbar">
         <i class="fa fa-slideshare"></i>
         {% trans 'About' %}
      </a>
    </li>

    <!-- Advantages tab -->
    <li>
      <a data-toggle="tab"
         href="#advantages"
         class="footer-navbar">
         <i class="fa fa-list-alt"></i>
         {% trans 'Advantages' %}
      </a>
    </li>

    <!-- Documentation tab -->
    <li>
      <a data-toggle="tab"
         href="#wiki"
         class="footer-navbar">
         <i class="fa fa-leanpub"></i>
         {% trans 'Documentation' %}
      </a>
    </li>

    <!-- How to use tab -->
    <li>
      <a data-toggle="tab"
         href="#how-to-use"
         class="footer-navbar">
         <i class="fa fa-film"></i>
         {% trans 'How to use' %}
      </a>
    </li>
  </ul>
</div>

<!-- Tab options -->
<div class="tab-content container">
  <!-- About tab -->
  <div id="about" class="panel panel-primary tab-pane fade in active footer-panel-shadow">
    <!-- heading -->
    <div class="panel-heading">
      {% trans 'About' %}
    </div>

    <!-- body -->
    <div class="panel-body">
      <!-- TBL tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tbl">Team Based Learning</a></li>
        <li><a data-toggle="tab" href="#preparation">{% trans 'Preparation' %}</a></li>
        <li><a data-toggle="tab" href="#irat">{% trans 'iRAT' %}</a></li>
        <li><a data-toggle="tab" href="#grat">{% trans 'gRAT' %}</a></li>
        <li><a data-toggle="tab" href="#appeal">{% trans 'Appeal' %}</a></li>
        <li><a data-toggle="tab" href="#feedback">{% trans 'Feedback' %}</a></li>
        <li><a data-toggle="tab" href="#app">{% trans 'Application oriented activities' %}</a></li>
        <li><a data-toggle="tab" href="#pair">{% trans 'Pair test' %}</a></li>
      </ul>

      <!-- TBL content -->
      <div class="tab-content text-justify">
        <!-- Team based learning tab -->
        <div id="tbl" class="tab-pane fade in active">
          <h3>Team Based Learning</h3>
          <p>
            {% blocktrans %}
              Team-based learning or TBL is a collaborative learning teaching strategy that focuses on a
              three-step cycle: Preparation, Class or RAT Assessment, and Small Application-Focused Project
            {% endblocktrans %}
          </p>
        </div>

        <!-- Preparation tab -->
        <div id="preparation" class="tab-pane fade">
          <h3>{% trans 'Preparation' %}</h3>
          <p>
            {% blocktrans %}
              Basically, the teacher will provide articles and books for study, in which the students will be able
              to download, this material will be the preparation for the evaluation, in addition to having an area
              for resolution of the list of exercises.
            {% endblocktrans %}
          </p>
        </div>

        <!-- iRAT tab -->
        <div id="irat" class="tab-pane fade">
          <h3>{% trans 'Individual test: iRAT' %}</h3>
          <p><b>iRAT</b>
            {% blocktrans %}
              Answered individually without consultation or any material, it consists of 10 to 20 questions of
              multiple choice contemplating the most relevant concepts of the readings or activities indicated
              previously, each question will have 4 alternatives and the student will be able to distribute points
              among the alternatives, for example if in doubt between alternative A and C, you can distribute your
              4 points in 2 in A and 2 in C, if the correct answer is to C you get 2 points out of 4 and the sum of
              all points divided by the total points of the test is calculated the student's grade
            {% endblocktrans %}
          </p>
        </div>

        <!-- gRAT tab -->
        <div id="grat" class="tab-pane fade">
          <h3>{% trans 'Team test: gRAT' %}</h3>
          <p><b>gRAT</b>:
            {% blocktrans %}
              Answered in a group without consultation or any material, consists of the same questions of the iRAT,
              each alternative of the question the student will have to specify the order of choice, for example,
              among the 4 alternatives of the question he places 4 points in the first alternative, if it is correct
              the student receives a total score that is 4, if the correct one is the alternative with 2 points the
              student receives 2 points, 1 point equals 1 point and 0 points equals no point in the question, after
              the student will have immediate feedbacks of the correct answer through scratch card, the sum of all
              points divided by the total is calculated by the group note in that evaluation.
            {% endblocktrans %}
          </p>
        </div>

        <!-- Appeal tab -->
        <div id="appeal" class="tab-pane fade">
          <h3>{% trans 'Appels' %}</h3>
          <p>
            {% blocktrans %}
              Teams may appeal if they do not agree with the correct answer, all appeals must be accompanied by
              arguments, suggestions for improvement and consultation with relevant bibliographic sources. The
              team should also propose the new format and the correct answer to the question.
            {% endblocktrans %}
          </p>
        </div>

        <!-- Feedback tab -->
        <div id="feedback" class="tab-pane fade">
          <h3>{% trans 'Instructor feedback' %}</h3>
          <p>
            {% blocktrans %}
              After the assessments and the appeals the instructor will pick up the questions that the students missed
              the most and give feedback about them.
            {% endblocktrans %}
          </p>
        </div>

        <!-- Application tab -->
        <div id="app" class="tab-pane fade">
          <h3>{% trans 'Application oriented activities' %}</h3>
          <p>
            {% blocktrans %}
              The application-centric project executes all the knowledge acquired in a real context of the proposed
              topic.
            {% endblocktrans %}
          </p>
        </div>

        <!-- Pair test tab -->
        <div id="pair" class="tab-pane fade">
          <h3>{% trans 'Pair test' %}</h3>
          <p>
            {% blocktrans %}
              During the semester peer evaluations may take place in which each member of the team will evaluate
              the other team members, a maximum score will be provided for each member to distribute among the other
              members of the team and a field to say why the score may enter feedback for the teammate, this evaluation
              does not need to identify if it will be anonymous and the score will be part of the individual note of
              each team member.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Advantages -->
  <div id="advantages" class="panel panel-primary tab-pane fade footer-panel-shadow">
    <!-- Heading -->
    <div class="panel-heading">
      {% trans 'Advantages' %}
    </div>

    <!-- Body -->
    <div class="panel-body text-justify">
      <p>{% trans 'The use of TBL has some advantages' %}:</p>
      <ol>
        <li>
          <b>{% trans 'Collaboration' %}</b>:
          {% trans 'The main objective is the learning in teams, one helping the other' %}
        </li>
        <li>
          <b>{% trans 'Entertainment' %}</b>:
          {% blocktrans %}
            The software has an idea of gamefication, having competition between teams so that the teams can
            train the collaboration between them.
          {% endblocktrans %}
        </li>
        <li>
          <b>{% trans 'Training' %}</b>:
          {% blocktrans %}
            Professionals more qualified for the job market, because the methodology makes the student to study
            constantly and work as a team.
          {% endblocktrans %}
        </li>
        <li>
          <b>{% trans 'Innovation' %}</b>:
          {% trans 'Get out of the cold and try something new' %}
        </li>
        <li>
          <b>{% trans 'Teaching learning' %}</b>:
          {% blocktrans %}
            The student becomes more participative and motivated to learn and the teacher makes the class more
            active and interesting.
          {% endblocktrans %}
        </li>
      </ol>
    </div>
  </div>

  <!-- Documentation -->
  <div id="wiki" class="panel panel-primary tab-pane fade footer-panel-shadow">
    <!-- Header -->
    <div class="panel-heading">
      {% trans 'Documentation' %}
    </div>

    <!-- Body -->
    <div class="panel-body">{% trans 'The documentation is found in the' %}
      <a href="https://github.com/VictorArnaud/TBL/wiki" target="_blank">{% trans 'wiki of project' %}</a>.
      <p><a href="https://github.com/VictorArnaud/TBL" target="_blank">{% trans 'Project repository' %}</a>.
    </div>
  </div>

  <!-- How to use -->
  <div id="how-to-use" class="panel panel-primary tab-pane fade footer-panel-shadow">
    <!-- Heading -->
    <div class="panel-heading">
      {% trans 'How to use' %}
    </div>

    <!-- Body -->
    <div class="panel-body">
      <div class="row">
        <!-- TBL video -->
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe
              class="video-frame embed-responsive-item"
              src="https://www.youtube.com/embed/LwUO6HEq6kM"
              frameborder="0"
              allowfullscreen>
            </iframe>
          </div>
          <p>{% trans 'Video about TBL methodology' %}.</p>
        </div>

        <!-- Software video -->
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe
              class="video-frame embed-responsive-item"
              src="https://www.youtube.com/embed/ZE0M_4t2cI0"
              frameborder="0"
              allowfullscreen>
            </iframe>
          </div>
          <p>{% trans 'Video of what is the software PGTBL' %}.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Copyright -->
<div class="row">
  <div class="col-sm-9">
    <!-- License -->
    <p class="copyright">
      <i class="fa fa-copyright"></i>
      {% trans 'Team Based Learning. Code licensed GPL-3.0' %}
    </p>

    <!-- Members -->
    <p class="copyright">
    {% trans 'Designed and built by' %}
    <a href="https://github.com/VictorArnaud/PGTBL/graphs/contributors" target="_blank">
      {% trans 'Team members' %}
    </a>
  </div>
  <div class="col-sm-3">

    <!-- Change language -->
    <form action="{% url 'set_language' %}" method="post" class="pull-right">
      {% csrf_token %}
      <input type="hidden" name="text" value="{{redirect_to}}" />

      <div class="input-group">
        <select class="form-control" name="language">
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
              {{language.name_local}}
            </option>
          {% endfor %}
        </select>
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-language"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
