.panel-heading {
  background-color: #286090 !important;
  color: white !important;
}

.questions {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

.table {
  font-size: 18px;
  margin-bottom: 0;
}

th, td {
  border-top: initial !important;
  padding: 1px !important;
}

.fa-book {
  padding-right: 8px;
}

.fa-user {
  padding-right: 11px;
}

.roles {
  cursor: pointer;
  color: whitesmoke;
  font-size: 25px;
}

.roles:hover, .roles:focus {
  color: white;
}

.progress-bar {
  background-color: #286090;
}

/* Modals */
.modal-footer {
  background-color: #263238 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-body {
  color: black;
}

/* Add button */
.add-button {
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 30px;
}

.btn:active:focus, .btn:focus {
  outline: none;
}

.submit-button {
  width: 100%;
  margin-bottom: 10px;
}

.update, .update:hover, .update:focus {
  text-decoration: none;
  color: white;
}
