.modal {
  top: 40px;
}

.modal-content {
  background-color: transparent;
  border-radius: 10px;
}

.modal-header {
  background-color: #263238 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  background-color: white;
}

.modal-footer {
  background-color: #263238 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-title {
  color: white;
}

.close, .close:hover {
  color: white;
}

.no-decoration:hover {
  text-decoration: none;
  color: white;
}

.photo {
  width: 240px;
  height: 200px;
}

.submit-button {
  background-color: #263238 !important;
  width: 97%;
  color: white;
}

.submit-button:hover {
  color: white;
}

.icon-md {
  font-size: 20px;
}

.input-group-addon {
  background-color: #263238;
  color: white;
}
