{% extends 'accounts/profile.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'groups/css/list.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'disciplines/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'disciplines:details' discipline.slug %}">
      {{discipline.title}}
    </a>
  </li>
  <li>
    <a href="{% url 'groups:list' discipline.slug %}">
       {% trans 'Group list' %}
    </a>
  </li>
{% endblock %}

<!-- Discipline list block -->
{% block content %}
  <div class="container-fluid">
    <div class="page-header fix-row">
      <h1 class="white">
        <i class="fa fa-slideshare"></i> {% trans 'Student groups' %}<br />
        <small>{{discipline.title}}</small>
      </h1>
    </div>
    <div class="panel-group fix-row" id="accordion">
      {% for group in groups %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"
                 data-parent="#accordion"
                 href="#collapse{{group.id}}">
                 <span>
                   <i class="fa fa-slideshare"></i>
                   {{group.title}}
                 </span>
                <span class="label label-primary pull-right">
                  {{group.students.count}}/{{group.students_limit}}
                </span>
              </a>
            </h4>
          </div>
          <div id="collapse{{group.id}}" class="panel-collapse collapse out">
            <div class="panel-body">
              {% for student in group.students.all %}
                {% if forloop.first %}
                  <div class="row">
                {% endif %}
                    <div class="col-sm-2">
                      <div class="thumbnail">
                        {% if user == discipline.teacher %}
                          <button class="close remove-student-button"
                                  type="button"
                                  data-toggle="modal"
                                  data-target="#delete-{{student.id}}-modal">
                                  <i class="fa fa-close"></i>
                          </button>
                          {% include 'groups/remove_student.html' %}
                        {% endif %}
                        {% if student.photo %}
                          <img src="{{student.photo.url}}" class="img-responsive" alt="{% trans 'Student' %}" />
                        {% else %}
                          <img src="{% static 'groups/img/user.png' %}" class="img-responsive" alt="{% trans 'Student' %}" />
                        {% endif %}
                        <div class="caption text-center">
                          <p>{{student.get_short_name}}</p>
                        </div>
                      </div>
                    </div>
                {% if forloop.counter|divisibleby:6 %}
                  </div>
                  <div class="row">
                {% endif%}
                {% if forloop.last %}
                  </div>
                {% endif %}
              {% empty %}
                <p>{% trans 'There is no students in this group.' %}</p>
              {% endfor %}
            </div>
            {% if user == discipline.teacher %}
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-8">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <a href="{% url 'groups:students' discipline.slug group.pk %}"
                           class="btn btn-primary">
                           <i class="fa fa-user-plus"></i>
                           {% trans 'Add student' %}
                        </a>
                      </div>
                      <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{% url 'groups:update' discipline.slug group.id %}">
                           <i class="fa fa-edit"></i>
                           {% trans 'Edit group' %}
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <button class="btn btn-danger"
                                type="button"
                                data-toggle="modal"
                                data-target="#delete-{{group.id}}-modal">
                                <i class="fa fa-trash"></i>
                                {% trans 'Delete' %}
                        </button>
                      </div>
                      {% include 'groups/delete.html' %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <p class="white">{% trans 'There is no groups' %}</p>
      {% endfor %}
    </div>

    {% if user == discipline.teacher %}
      {% include 'groups/add_group.html' %}
      <div class="row fix-row">
        <div class="col-sm-10">
          <form action="{% url 'groups:provide' discipline.slug %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary send-button center-block">
               <i class="fa fa-send"></i> {% trans 'Provide' %}
            </button>
          </form>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary btn-lg add-button"
                  type="button"
                  data-toggle="modal"
                  data-target="#add-modal">
                  <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    {% endif %}

    {% include 'core/pagination.html' %}
  </div>
{% endblock %}
