{% load i18n %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/delete.css' %}" />
{% endblock %}

<!-- Delete modal -->
<div id="delete-{{student.id}}-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal">
                <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">
          {% trans 'Remove' %} {{student.get_short_name}}
        </h4>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <p>
          {% trans 'Are you sure you want to remove' %} {{student.get_short_name}} ?
        </p>
      </div>

      <!-- Footer -->
      <div class="modal-footer">
        <!-- Delete form -->
        <form action="{% url 'groups:remove-student' discipline.slug group.id student.id %}" method="post">
          <!-- Form security -->
          {% csrf_token %}

          <!-- Form button -->
          <button type="submit"
                  class="btn btn-danger pull-right">
                  <i class="fa fa-trash"></i>
                  {% trans 'Remove' %}
          </button>
        </form>

        <!-- Cancel button -->
        <button class="btn btn-primary pull-left"
                data-dismiss="modal"
                type="button">
                <i class="fa fa-close"></i>
                {% trans 'Cancel' %}
        </button>
      </div> <!-- Close model footer -->
    </div> <!-- Close model content -->
  </div> <!-- Close model dialog -->
</div> <!-- Close model -->
