{% load static %}
{% load i18n %}

<!-- News -->
<div class="container">
  <!-- Header -->
  <div class="page-header" id="news">
    <h1 class="white">
      {% trans 'News' %}
    </h1>
  </div>

  <!-- News panel -->
  <div class="pane panel-default">
    <!-- Panel body -->
    <div class="panel-body">
      <div class="row">
        <!-- Get the last two news-->
        {% for news in news_list %}
          <div class="col-sm-6">
            <div class="panel panel-default panel-shadow">
              <div class="panel-body">
                <!-- News image -->
                {% if news.image %}
                  <img
                    src="{{news.image.url}}"
                    class="img-thumbnail img-responsive center-block"
                    alt="{{news.title}}"
                  />
                {% else %}
                  <img
                    src="{% static 'core/img/logo.png' %}"
                    class="img-thumbnail img-responsive center-block"
                    alt="{% trans 'Without image'%}"
                  />
                {% endif %}

                <!-- News information -->
                <div class="row">
                  <!-- News tag -->
                  <div class="col-sm-4 pull-right">
                    {% for tag in news.tags.all %}
                      <span class="label label-primary news-label">
                        {{ tag }}
                      </span>
                    {% empty %}
                      <p>{% trans 'There is no tags' %}.</p>
                    {% endfor %}
                  </div>

                  <!-- News title and created date -->
                  <div class="col-sm-8">
                    <h3>
                      {{news.title}} <br />
                      <small>({{ news.created_at }})</small>
                    </h3>
                  </div>
                </div>

                <!-- News content -->
                <div class="row">
                  <div class="col-sm-12">
                    <p class="text-justify">
                      {{ news.content|truncatewords:10 }}
                    </p>
                  </div>
                </div>
              </div>

              <!-- Read News button footer -->
              <div class="panel-footer">
                <a href="{% url 'core:news-details' news.slug %}"
                   class="btn btn-primary">
                   {% trans 'Read more' %}
                </a>
              </div>
            </div>
          </div>
        <!-- If there is no news -->
        {% empty %}
          <div class="alert alert-info">
            {% trans 'There is no news' %}
          </div>
        {% endfor %}
      </div> <!-- Close row -->

      <!-- See all news button -->
      <div class="row">
        <a href="{% url 'core:news' %}"
           class="btn btn-primary news-button">
           {% trans 'See all news' %}
        </a>
      </div>
    </div> <!-- Close panel body -->
  </div> <!-- Close panel -->
</div> <!-- Close container -->
