{% extends 'files/list.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'files/css/create.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'files:update' discipline.slug file.id %}">
      {% trans 'Edit' %} {{file}}
    </a>
  </li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header profile">
      <h1 class="white">
        {% trans 'Edit' %} {{file}}
      </h1>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Form without html5 validation -->
        <form action="{% url 'files:update' discipline.slug file.id %}"
              method="post" enctype="multipart/form-data" novalidate>
          <!-- Form security -->
          {% csrf_token %}

          <!-- Get all erros from form -->
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}

          <!-- File title field -->
          <div class="{% if form.title.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group">
              <!-- Field icon -->
              <span class="input-group-addon gradient"
                    data-toggle="tooltip"
                    title="{{form.title.label}}">
                    <i class="fa fa-file-o"></i>
              </span>

              <!-- Field -->
              {% render_field form.title class="form-control" type="text" placeholder=form.title.help_text %}
            </div>

            <!-- Field errors -->
            {% for error in form.title.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- File description field -->
          <div class="{% if form.description.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group">
              <!-- Field icon -->
              <span class="input-group-addon gradient"
                    data-toggle="tooltip"
                    title="{{form.description.label}}">
                    <i class="fa fa-file-text-o"></i>
              </span>

              <!-- Field -->
              {% render_field form.description class="form-control" type="text" %}
            </div>

            <!-- Field errors -->
            {% for error in form.description.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- File extension field -->
          <div class="{% if form.extension.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group">
              <!-- Field icon -->
              <span class="input-group-addon gradient"
                    data-toggle="tooltip"
                    title="{{form.extension.label}}">
                    <i class="fa fa-file-pdf-o"></i>
              </span>

              <!-- Field -->
              {% render_field form.extension class="form-control" type="text" %}
            </div>

            <!-- Field errors -->
            {% for error in form.extension.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- File field -->
          <div class="{% if form.archive.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group white">
              {% render_field form.archive class="form-control" %}
            </div>

            <!-- Field errors -->
            {% for error in form.archive.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- Submit button -->
          <button type="submit"
                  class="btn btn-default submit-button center-block gradient">
                  <i class="fa fa-edit"></i>
                  {% trans 'Edit' %}
          </button>
        </form>
      </div> <!-- Close col -->
    </div> <!-- Close row -->
  </div> <!-- Close container -->
{% endblock %}
