{% load i18n %}

<div class="modal fade" id="add-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Close button -->
        <button type="button"
                class="close"
                data-dismiss="modal">
                <i class="fa fa-close"></i>
        </button>

        <!-- Title -->
        <h4 class="modal-title">
          {% trans 'Add group' %}
        </h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'groups:create' discipline.slug %}" method="post" novalidate>
          {% csrf_token %}

          <!-- Group title field -->
          <div class="form-group">
            <label for="{{form.title.id_for_label}}">
              {% trans 'Group title' %}:
            </label>
            <input
              type="text"
              name="{{form.title.name}}"
              class="form-control"
              id="{{form.title.id_for_label}}"
              placeholder="{{form.title.help_text}}"
              required
            />
          </div>

          <!-- Number of students field -->
          <div class="form-group">
            <label for="{{form.students_limit.id_for_label}}">
              {% trans 'Number of students' %}:
            </label>
            <input
              type="number"
              name="{{form.students_limit.name}}"
              min="0"
              value="0"
              id="{{form.students_limit.id_for_label}}"
              class="form-control"
              placeholder="{{form.students_limit.help_text}}"
              required
            />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary submit-button center-block">
            <i class="fa fa-plus"></i>
            {% trans 'Add' %}
          </button>
        </form>
      </div>

      <!-- Model footer -->
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
