/* Parallax */
.parallax {
  /* The image used */
  background-image: url("../img/parallax.jpg");
  /* Set a specific height */
  height: 570px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-header {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: relative;
  box-shadow: 5px 5px 5px white;
  top: 200px;
  left: 15px;
  font-size: 45px;
}
