{% extends 'disciplines/details.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'files/css/list.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'files:list' discipline.slug %}">
       {% trans 'File list' %}
    </a>
  </li>
{% endblock %}

<!-- Discipline list block -->
{% block content %}
  <div class="container-fluid">
    <div class="page-header fix-row">
      <h1 class="white">
        <i class="fa fa-slideshare"></i> {% trans 'Discipline files' %}<br />
        <small>{{discipline.title}}</small>
      </h1>
    </div>
    <div class="panel-group fix-row" id="accordion">
      {% for file in files %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"
                 data-parent="#accordion"
                 href="#collapse{{file.id}}">
                 <span>
                   <i class="fa fa-slideshare"></i>
                   {{file.title}}
                 </span>
                <span class="label label-primary pull-right">
                  {{file.extension|upper}}
                </span>
              </a>
            </h4>
          </div>
          <div id="collapse{{file.id}}" class="panel-collapse collapse out">
            <div class="panel-body">
              {{file.description|linebreaksbr}}
            </div>
            {% if user == discipline.teacher or user in discipline.monitors.all %}
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-8">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <a href="{{file.archive.url}}" download="{{file.get_title}}" class="btn btn-primary">
                           <i class="fa fa-download"></i>
                           {% trans 'Download' %}
                        </a>
                      </div>
                      <div class="btn-group">
                        <a class="btn btn-primary"
                           href="{% url 'files:update' discipline.slug file.id %}">
                           <i class="fa fa-edit"></i>
                           {% trans 'Edit file' %}
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <button class="btn btn-danger"
                                type="button"
                                data-toggle="modal"
                                data-target="#delete-{{file.id}}-modal">
                                <i class="fa fa-trash"></i>
                                {% trans 'Delete' %}
                        </button>
                        {% include 'files/discipline/delete.html' %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <a href="{{file.archive.url}}" download="{{file.get_title}}" class="btn btn-primary">
                     <i class="fa fa-download"></i>
                     {% trans 'Download' %}
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <div class="well">{% trans 'There is no files' %}</div>
      {% endfor %}
    </div>

    {% if user == discipline.teacher or user in discipline.monitors.all %}
      <button class="btn btn-primary btn-lg add-button"
              type="button"
              data-toggle="modal"
              data-target="#add-modal">
              <i class="fa fa-plus"></i>
      </button>
      {% include 'files/discipline/add_file.html' %}
    {% endif %}

    {% include 'core/pagination.html' %}
  </div>
{% endblock %}
