{% extends 'accounts/profile.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'disciplines/css/class.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'disciplines/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'disciplines:details' discipline.slug %}">
      {{discipline.title}}
    </a>
  </li>
{% endblock %}

{% block content %}

        <div class="col-sm-10">
          <div class="container-fluid">
            <div class="page-header profile">
              <h1 class="white">Create or Edit attendance list</h1>
              <h1 class="white">
                <i class="fa fa-book"></i> <div id="class_title">{{discipline.title}}</div>{{discipline.classroom}}<br />
                <small>{{discipline.course}}</small> <br />
              </h1>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form method="post" name = "myform">
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}
                  <p>
                    <label class="white">Date:</label>
                    {% csrf_token %}
                    <div class="attendance_date">
                    {{ form.date }}
                    </div>
                    
                  </p>
                  <p>
                    <label class="white">Check all students</label>
                    <input type="checkbox" onClick="toggle(this)" /><br/>
                  </p>
                    <label class="white">Students:{{ form.students }}</label>
                  <br><br>
                  <button type="submit" class="btn btn-primary submit-button center-block">
                    <i class="fa fa-plus"></i> Save Attendance
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript">
  function toggle(source) {
  checkboxes = document.getElementsByName('students');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
    }
  }
</script>

<script>

  /* 
    Function that takes the date and send it to updateFormView via AJAX
    if returns data, will automatically check the attended student checkbox
    of the attendance of the chosen date
  */

  function check_attended_students(date, checkboxes){

    $.ajax({
      url: "{% url 'disciplines:updateFormView' discipline.slug %}",
      data: {
        'class_date': date
      },
      dataType: 'json',
      success: function (data) {

        if (data.attended_students_pk) {

          console.log(data.attended_students_pk)

          for(var i=0, n=checkboxes.length;i<n;i++) {
            for (var j=0, m=data.attended_students_pk.length;j<m;j++) {
              if (checkboxes[i].value == data.attended_students_pk[j]) {
                checkboxes[i].checked = true;
              }
            }
          }
        }
      }
    });
  }

  $( document ).ready(function() {

    checkboxes = document.getElementsByName('students');
    var date = $("#id_date").val()

    //Reset the cehckboxes everytime the page is loaded
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = false;;
    }

    check_attended_students(date, checkboxes);

    //Function to check if the form date has been changed
    $("#id_date").change(function () {
      
      var date = $("#id_date").val()

      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = false;;
      }

      check_attended_students(date, checkboxes);

    });
  });


</script>

<script>
  $( function() {
    $( "#id_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );

  $( "#id_date" ).focus(function() {
    $( this ).blur();
  });
</script>

{% endblock %}