{% extends 'accounts/profile.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'disciplines/css/class.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'disciplines/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'disciplines:details' discipline.slug %}">
      {{discipline.title}}
    </a>
  </li>
{% endblock %}

{% block content %}
  <!-- Discipline -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-10">
          <h1 class="white">
            <i class="fa fa-book"></i> {{discipline.title}} <br />
            <small>{{discipline.course}}</small>
          </h1>
        </div>

        <!-- Close and  Open discipline -->
        <div class="col-sm-2">
          <h1 class="white">{{discipline.classroom}}</h1>
          {% if user.id == discipline.teacher.id %}

            {% if not discipline.is_closed and ranking.groups_info.all %}
                <form action="{% url 'hallOfFame:create' slug=discipline.slug %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success pull-right">{% trans 'Open' %}</button>
                </form>
            {% elif not discipline.is_closed and not ranking.groups_info.all%}
              <form action="{% url 'disciplines:close' slug=discipline.slug %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success pull-right">{% trans 'Open' %}</button>
              </form>
            {% elif discipline.is_closed %}
              <form action="{% url 'disciplines:close' slug=discipline.slug %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger pull-right">{% trans 'Closed' %}</button>
              </form>
            {% endif %}
          {% endif %}
        </div>

      </div>
    </div>

    <!-- Teacher information -->
    <div class="row">
      <div class="col-sm-12">
        <div class="media lighten-blue-grey">
          {% if discipline.teacher.photo %}
            <div class="media-left">
              <img src="{{discipline.teacher.photo.url}}" class="media-object" style="width:60px">
            </div>
          {% else %}
            <div class="media-left">
              <img src="{% static 'disciplines/img/user.png' %}" class="media-object" style="width:60px">
            </div>
          {% endif %}

          <div class="media-body">
            <h4 class="media-heading"><b>{% trans 'Teacher' %}:</b> {{discipline.teacher.name}}</h4>
            <p>{{discipline.teacher.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <br />

    <!-- Discipline markdown description -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body img-responsive-markdown">
            {{discipline.description_markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
