{% extends 'accounts/profile.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'disciplines/css/class.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'disciplines/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'disciplines:details' discipline.slug %}">
      {{discipline.title}}
    </a>
  </li>
{% endblock %}

{% block content %}
  <!-- Discipline -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header">
      <h1 class="white">
        <i class="fa fa-book"></i> {{discipline.title}}
        <span class="pull-right">{{discipline.classroom}}</span> <br />
        <small>{{discipline.course}}</small>
      </h1>
    </div>

    <!-- Teacher -->
    <div class="row">
      <div class="col-sm-12">
        <div class="media lighten-blue-grey">
          {% if discipline.teacher.photo %}
            <div class="media-left">
              <img src="{{discipline.teacher.photo.url}}" class="media-object" style="width:60px">
            </div>
          {% else %}
            <div class="media-left">
              <img src="{% static 'disciplines/img/user.png' %}" class="media-object" style="width:60px">
            </div>
          {% endif %}
          <div class="media-body">
            <h4 class="media-heading"><b>{% trans 'Teacher' %}:</b> {{discipline.teacher.name}}</h4>
            <p>{{discipline.teacher.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <br />

    <!-- Discipline description -->
    <div class="row">
      <div class="col-sm-12 white">
        {{discipline.description|linebreaksbr}}
      </div>
    </div>
  </div>
{% endblock %}
