{% extends 'accounts/profile.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'disciplines/css/class.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'disciplines/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'disciplines:details' discipline.slug %}">
      {{discipline.title}}
    </a>
  </li>
{% endblock %}

{% block content %}
  <!-- Discipline -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-10">
          <h1 class="white">
            <i class="fa fa-book"></i> {{discipline.title}} <br />
            <small>{{discipline.course}}</small>
          </h1>
        </div>

        <!-- Close and  Open discipline -->
        <div class="col-sm-2">
          <h1 class="white">{{discipline.classroom}}</h1>
          {% if user.id == discipline.teacher.id %}

            {% if  discipline.is_closed %}

              <div class="btn-group btn-group-justified">
                <div class="btn-group">
                  <button class="btn btn-success"
                          type="button"
                          data-toggle="modal"
                          data-target="#close-{{discipline.id}}-modal">
                          <i class="fa fa-lock"></i>
                          {% trans 'Open' %}
                  </button>
                  {% include 'hallOfFame/close.html' %}
                </div>
              </div>
              {# <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Set  Hall</h4>
                      </div>
                      <div class="modal-body">
                        <form  method="post" novalidate>
                          {% csrf_token %}
                            {% for error in form.non_field_errors %}
                              <div class="alert alert-danger">
                                {{ error }}
                              </div>
                            {% endfor %}
                            <!-- Teachser or Student field -->
                            <div class="group">
                              <div class="form-group">
                                <label for="{{form.year.auto_id}}"
                                       class="white">
                                       {% trans 'Select the type of user' %}:
                                </label>
                                {% render_field form.year type="select" class="form-control" id=form.year_auto_id %}
                              </div>
                            </div>

                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
                </div>
              </div> #}
            {% else %}

            <form action="{% url 'disciplines:close' slug=discipline.slug %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-success pull-right">{% trans 'Closed' %}</button>
            </form> #}
            {% endif %}

          {% endif %}
        </div>

      </div>
    </div>

    <!-- Teacher information -->
    <div class="row">
      <div class="col-sm-12">
        <div class="media lighten-blue-grey">
          {% if discipline.teacher.photo %}
            <div class="media-left">
              <img src="{{discipline.teacher.photo.url}}" class="media-object" style="width:60px">
            </div>
          {% else %}
            <div class="media-left">
              <img src="{% static 'disciplines/img/user.png' %}" class="media-object" style="width:60px">
            </div>
          {% endif %}

          <div class="media-body">
            <h4 class="media-heading"><b>{% trans 'Teacher' %}:</b> {{discipline.teacher.name}}</h4>
            <p>{{discipline.teacher.email}}</p>
          </div>
        </div>
      </div>
    </div>

    <br />

    <!-- Discipline markdown description -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body img-responsive-markdown">
            {{discipline.description_markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
