<!-- import to staticfiles -->
{% load static %}

<!-- internationalization -->
{% load i18n %}

<!-- Disciplines list -->
{% for discipline in disciplines %}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{discipline.id}}">
                  <span><i class="fa fa-book"></i> {{discipline.title}}</span>
                  <span class="pull-right">Turma A <i class="fa fa-slideshare"></i></span>
                </a>
              </h4>
            </div>
            <div id="{{discipline.id}}" class="panel-collapse collapse out">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-11">
                    {{discipline.description|linebreaksbr}}
                  </div>
                  <div class="col-sm-1">
                    <span class="label label-primary">30/50</span>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-9 col-sm-8 col-xs-12">
                    <span><b>{% trans 'Teacher' %}</b>: {{discipline.teacher}}</span><br />
                    <span><b>{% trans 'Course' %}</b>: <span class="justify">{{discipline.course}}</span></span>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-class"><i class="fa fa-eye"></i></a>
                      </div>
                      <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-class"><i class="fa fa-trophy"></i></a>
                      </div>
                      <div class="btn-group">
                        <a href="#" class="btn btn-primary btn-class"><i class="fa fa-edit"></i></a>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-class" data-toggle="modal" data-target="#delete-modal">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'core/pagination.html' %}
  </div>
{% empty %}
  <p class="white">{% trans 'There is no disciplines.' %}</p>
{% endfor %}
