{% load static %}
{% load i18n %}

<!-- Discipline sidebar -->
<div class="col-sm-2">
  <div class="btn-group-vertical">
    <!-- Discipline description menu -->
    <a href="{% url 'disciplines:details' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Description' %}">
       <i class="fa fa-book icon-lg"></i>
    </a>

    <!-- Student list menu -->
    <a href="{% url 'disciplines:students' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Student list' %}">
       <i class="fa fa-slideshare icon-lg"></i>
    </a>

    <!-- Grade menu -->
    <a href="{% url 'grades:result' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Grades' %}">
       <i class="fa fa-graduation-cap icon-lg"></i>
    </a>

    <!-- Groups menu -->
    <a href="{% url 'groups:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Groups' %}">
       <i class="fa fa-group icon-lg"></i>
    </a>

    <!-- Group rank menu -->
    <a href="{% url 'ranking:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Group rank' %}">
       <i class="fa fa-trophy icon-lg"></i>
    </a>

    <!-- TBL sessions menu -->
    <a href="{% url 'TBLSessions:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'TBL sessions' %}">
       <i class="fa fa-puzzle-piece icon-lg"></i>
    </a>

    <!-- Files menu -->
    <a href="{% url 'files:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       title="{% trans 'Files' %}">
       <i class="fa fa-folder-open-o icon-lg"></i>
    </a>
  </div>
</div>
