{% load static %}
{% load i18n %}

<!-- Disciplines list menu -->
<ul class="nav nav-tabs" id="filter">
  <!-- All disciplines -->
  <li>
    <a href="?filter=all#filter"
       class="filter">
       {% trans 'All Disciplines' %}
    </a>
  </li>

  <!-- Student disciplines -->
  {% if not user.is_teacher %}
  <li>
    <a href="?filter=student#filter"
       class="filter">
       {% trans 'Student of discipline' %}
    </a>
  </li>
  {% endif %}

  <!-- Discipline monitor -->
  <li>
    <a href="?filter=monitor#filter"
       class="filter">
       {% trans 'Discipline monitor' %}
    </a>
  </li>

  <!-- Created disciplines -->
  {% if user.is_teacher %}
    <li>
      <a href="?filter=created#filter"
         class="filter">
         {% trans 'Created Disciplines' %}
      </a>
    </li>
  {% endif %}
</ul><br />

<!-- Disciplines list -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion">
      <!-- Disciplines list panel -->
      {% for discipline in disciplines %}
        <div class="panel panel-default">
          <!-- Header of discipline with title and classroom -->
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"
                 data-parent="#accordion"
                 href="#{{ discipline.id }}">
                 <span>
                   <i class="fa fa-book"></i>
                   {{ discipline.title }}
                 </span>
                 <span class="pull-right">
                   {{ discipline.classroom }}
                   <i class="fa fa-slideshare"></i>
                 </span>
              </a>
            </h4>
          </div>

          <!-- Collapse discipline -->
          <div id="{{ discipline.id }}" class="panel-collapse collapse out">
            <!-- Discipline body -->
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-11">
                  <!-- Render description markdown with responsive image and truncate each html tags -->
                  <div class="img-responsive-markdown">{{discipline.description_markdown|truncatechars_html:35}}</div>
                </div>
                <div class="col-sm-1">
                  <span class="label label-primary">
                    {{discipline.students.count}}/{{discipline.students_limit}}
                  </span>
                </div>
              </div>
            </div>

            <!-- Discipline footer -->
            <div class="panel-footer">
              <div class="row">
                <!-- Discipline teacher and course -->
                <div class="col-md-9 col-sm-8 col-xs-12">
                  <span>
                    <b>{% trans 'Teacher' %}</b>:
                    {% if discipline.teacher.name %}
                      {{ discipline.teacher.name }}
                    {% else %}
                      {{ discipline.teacher.email }}
                    {% endif %}
                  </span>
                  <br />
                  <span>
                    <b>{% trans 'Course' %}</b>:
                    <span class="justify">
                      {{ discipline.course }}
                    </span>
                  </span>
                </div>

                <!-- Discipline links -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="btn-group btn-group-justified">
                    <!-- View -->
                    <div class="btn-group">
                      <a href="{% url 'disciplines:details' discipline.slug %}"
                         class="btn btn-primary btn-class"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="{% trans 'Enter' %}">
                         <i class="fa fa-eye"></i>
                      </a>
                    </div>

                    <!-- Hall of fame -->
                        <!--  url 'hallOfFame:' discipline.slug  -->
                    <div class="btn-group">
                      {% if discipline.halls.all %}
                        <a href="{% url 'hallOfFame:list' discipline.slug %}"
                          class="btn btn-primary btn-class"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="{% trans 'Hall of Fame' %}">
                          <i class="fa fa-trophy"></i>
                        </a>
                    </div>
                      {% else %}
                        <a
                          class="btn btn-primary btn-class"
                          data-toggle="modal"
                          data-placement="top"
                          data-target="#My-modal"
                          title="{% trans 'Hall of Fame' %}">
                          <i class="fa fa-trophy"></i>
                        </a>
                        {% include "accounts/info_hall.html" %}
                      {% endif %}

                    <!-- Discipline owner features -->
                    {% if discipline.teacher == user %}
                      <!-- Edit discipline -->
                      <div class="btn-group">
                        <a href="{% url 'disciplines:update' discipline.slug %}"
                           class="btn btn-primary btn-class"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="{% trans 'Edit' %}">
                           <i class="fa fa-edit"></i>
                        </a>
                      </div>

                      <!-- Delete discipline -->
                      <div class="btn-group">
                        <button type="button"
                                class="btn btn-danger btn-class"
                                data-toggle="modal"
                                data-target="#{{ discipline.id }}-model">
                                <i class="fa fa-trash"></i>
                        </button>
                      </div>

                      {% include 'disciplines/delete.html' %}
                    {% endif %}
                  </div> <!-- Close button group -->
                </div> <!-- Close button group col -->
              </div> <!-- Close row -->
            </div> <!-- Close panel footer -->
          </div> <!-- Panel content -->
        </div> <!-- Panel -->
      <!-- If there is no discipline -->
      {% empty %}
        <div class="alert alert-info">
          {% trans 'There is no disciplines.' %}
        </div>
      {% endfor %}
    </div> <!-- Close panel group -->
  </div> <!-- Close col -->
</div> <!-- Close row -->

{% include 'core/pagination.html' %}
