<!-- import to staticfiles -->
{% load static %}

<!-- internationalization -->
{% load i18n %}

<!-- Disciplines list -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <span><i class="fa fa-book"></i> Medição e Análise</span>
                <span class="pull-right">Turma A <i class="fa fa-slideshare"></i></span>
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse out">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-11">
                  Disciplina de medição e análise...
                </div>
                <div class="col-sm-1">
                  <span class="label label-primary">30/50</span>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                  <span><b>{% trans 'Teacher' %}</b>: Fulano de Tal</span><br />
                  <span><b>{% trans 'Course' %}</b>: <span class="justify">Engenharia de Software</span></span>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                      <a href="../classes/class.html" class="btn btn-primary btn-class"><i class="fa fa-eye"></i></a>
                    </div>
                    <div class="btn-group">
                      <a href="../classes/halloffame.html" class="btn btn-primary btn-class"><i class="fa fa-trophy"></i></a>
                    </div>
                    <div class="btn-group">
                      <a href="create_class.html" class="btn btn-primary btn-class"><i class="fa fa-edit"></i></a>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-class" data-toggle="modal" data-target="#delete-modal">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'core/pagination.html' %}
</div>
