{% extends 'accounts/profile.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'accounts/css/edit_password.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'accounts:update-password' %}">
      {% trans 'Edit password' %}
    </a>
  </li>
{% endblock %}

{% block profile %}
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header profile">
      <h1 class="white">{% trans 'Edit password' %}</h1>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="col-sm-12">
        <form method="post" novalidate>
          <!-- Form security -->
          {% csrf_token %}

          <!-- Get all erros from form -->
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}

          <!-- Fields -->
          <fieldset>
            <!-- Old password field -->
            <div class="{% if form.old_password.errors %}alert alert-warning{% endif %}">
              <!-- Field group -->
              <div class="input-group">
                <span class="input-group-addon gradient">
                  <i class="fa fa-lock icon-md"></i>
                </span>
                {% render_field form.old_password type="password" class="form-control" placeholder=form.old_password.label %}
              </div>

              <!-- Field error -->
              {% for error in form.old_password.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>
            <hr />

            <!-- New password field -->
            <div class="{% if form.new_password1.errors %}alert alert-warning{% endif %}">
              <!-- Field group -->
              <div class="input-group">
                <span class="input-group-addon gradient">
                  <i class="fa fa-lock icon-md"></i>
                </span>
                {% render_field form.new_password1 type="password" class="form-control" placeholder=form.new_password1.label %}
              </div>

              <!-- Field error -->
              {% for error in form.new_password1.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- New password field confirmation -->
            <div class="{% if form.new_password2.errors %}alert alert-warning{% endif %}">
              <!-- Field group -->
              <div class="input-group">
                <span class="input-group-addon gradient">
                  <i class="fa fa-lock icon-md"></i>
                </span>
                {% render_field form.new_password2 type="password" class="form-control" placeholder=form.new_password2.label %}
              </div>

              <!-- Field error -->
              {% for error in form.new_password2.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          </fieldset>

          <!-- Submit button -->
          <button type="submit"
                  class="btn btn-primary submit-button center-block">
                  <i class="fa fa-edit"></i>
                  {% trans 'Edit' %}
          </button>
        </form>
      </div> <!-- Close col -->
    </div> <!-- Close row -->
  </div> <!-- Close container -->
{% endblock %}
