<!-- Extends all code from core/base.html -->
{% extends "core/base.html" %}

<!-- import to staticfiles -->
{% load static %}

<!-- internationalization -->
{% load i18n %}

<!-- insert css into core/base.html css block -->
{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}">
{% endblock %}

{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>
    <!-- Breadcrumbs -->
    {% block breadcrumb %}
      {% include 'accounts/breadcrumb.html' %}
    {% endblock %}

    <!-- Profile page -->
    <div class="row">
      <!-- Sidebar -->
      {% include 'accounts/sidebar.html' %}

      <!-- profile -->
      <div class="col-sm-10">
        {% block profile %}
          <div class="container-fluid">
            <div class="page-header profile">
              <h1 class="white">{% trans 'Profile' %}</h1>
            </div>
            <div class="row">
              <div class="col-sm-3">
                {% if user.photo %}
                  <img src="{{user.photo.url}}" class="img-rounded img-responsive center-block" alt="User">
                {% else %}
                  <img src="{% static 'accounts/img/user.png' %}" class="img-rounded img-responsive center-block" alt="User">
                {% endif %}
              </div>
              <div class="col-sm-9">
                <div class="row">
                  {% if user.is_teacher %}
                    <span class="label label-primary pull-left label-text">{% trans 'Teacher' %}</span>
                  {% else %}
                    <span class="label label-primary pull-left label-text">{% trans 'Student' %}</span>
                  {% endif %}
                  <span class="label label-success pull-left label-text">Online</span>
                  <span class="label label-primary label-number pull-right">ID: {{user.id}}</span>
                </div>

                {% if user.name %}
                  <h2 class="name">{{user.get_short_name}}</h2>
                {% else %}
                  <h2 class="name">{% trans 'Change your name!' %}</h2>
                {% endif %}
                <p class="lighten-blue-grey">
                  <i class="fa fa-envelope"></i>
                  <b>{% trans 'Email' %}</b>: <span class="email">{{user.email}}</span>
                </p>
                <p class="lighten-blue-grey">
                  <i class="fa fa-institution"></i>
                  <b>{% trans 'Institution' %}</b>: <span class="college">{{user.institution}}</span>
                </p>
                <p class="lighten-blue-grey">
                  <i class="fa fa-graduation-cap"></i>
                  <b>{% trans 'Course' %}</b>: <span class="course">{{user.course}}</span>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="lighten-blue-grey pull-left"><i class="fa fa-history"></i> Último login: Online</p>
                <p class="lighten-blue-grey pull-right">Criado em 3 dias atrás</p>
              </div>
          </div>
          <hr />
          <!-- Disciplines -->
          {% include 'accounts/disciplines.html' %}
        {% endblock %}
      </div>
    </div>
  </main>
  <!-- Delete modal -->
  {% include 'accounts/delete.html' %}
{% endblock %}
