.news-label {
  float: right;
  margin-top: 5px;
}

.panel-shadow {
  box-shadow: 10px 10px 5px grey;
}

.news-button {
  margin-left: 15px;
}

@media screen and (min-width: 800px) {
  .img-thumbnail {
    min-height: 300px;
    max-height: 300px;
  }
}