{% extends 'modules/list.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'modules/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'modules:details' discipline.slug session.id %}">
      {{session}}
    </a>
  </li>
{% endblock %}

{% block content %}
  <!-- Session -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header">
      <h1 class="white">
        <i class="fa fa-book"></i> {{session}} <br />
        <small>{{discipline.title}}</small>
      </h1>
    </div>

    <!-- TBL session markdown description -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body img-responsive-markdown">
            {{session.description_markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
