{% extends 'modules/list.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
{% endblock %}

{% block sidebar %}
  {% include 'modules/sidebar.html' %}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'modules:details' discipline.slug session.id %}">
      {{session}}
    </a>
  </li>
{% endblock %}

{% block content %}
  <!-- Session -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-10">
          <h1 class="white">
            <i class="fa fa-book"></i> {{session}} <br />
            <small>{{discipline.title}}</small>
          </h1>
        </div>
        <!-- Finish TBL session -->
        <div class="col-sm-2">
          {% if user == discipline.teacher and not session.is_finished %}
            <button class="btn btn-danger btn-block"
                    type="button"
                    data-intro="{% trans 'Finish TBL Session.' %}"
                    data-toggle="modal"
                    data-target="#finish-{{session.id}}-modal">
                    <i class="fa fa-lock"></i>
                    {% trans 'Finish' %}
            </button>
            {% include 'modules/finish.html' %}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- TBL session markdown description -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body img-responsive-markdown">
            {{session.description_markdown}}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
