{% extends 'accounts/profile.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link href="{% static 'accounts/css/sidebar.css' %}" rel="stylesheet" />
  <link href="{% static 'disciplines/css/create.css' %}" rel="stylesheet" />
  <link href="{% static 'core/css/markdown.css' %}" rel="stylesheet" />
  <link href="/" type="text/css" media="all" rel="stylesheet" />
  <script type="text/javascript" src="/static/pagedown/Markdown.Converter.js"></script>
  <script type="text/javascript" src="/static/pagedown-extra/pagedown/Markdown.Converter.js"></script>
  <script type="text/javascript" src="/static/pagedown/Markdown.Sanitizer.js"></script>
  <script type="text/javascript" src="/static/pagedown/Markdown.Editor.js"></script>
  <script type="text/javascript" src="/static/pagedown-extra/Markdown.Extra.js"></script>
  <script type="text/javascript" src="/static/pagedown_init.js"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Header -->
    <div class="page-header profile">
      <h1 class="white">
        {% trans 'Create discipline' %}
      </h1>
    </div>

    <!-- Form -->
    <div class="row">
      <div class="col-sm-12">
        <!-- Form without html5 validation -->
        <form method="post" novalidate>
          <!-- Form security -->
          {% csrf_token %}

          <!-- Get all erros from form -->
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}

          <!-- Discipline title field -->
          <div class="{% if form.title.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group">
              <!-- Field icon -->
              <span class="input-group-addon gradient"
                    data-toggle="tooltip"
                    title="{{form.title.label}}">
                    <i class="fa fa-book"></i>
              </span>

              <!-- Field -->
              <input
                type="text"
                name="{{form.title.name}}"
                class="form-control"
                placeholder="{{form.title.help_text}}"
                value="{{discipline.title}}"
                required
              />
            </div>

            <!-- Field errors -->
            {% for error in form.title.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- Discipline course field -->
          <div class="{% if form.course.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group">
              <!-- Field icon -->
              <span class="input-group-addon gradient"
                    data-toggle="tooltip"
                    title="{{form.course.label}}">
                    <i class="fa fa-graduation-cap"></i>
              </span>

              <!-- Field -->
              <input
                type="text"
                name="{{form.course.name}}"
                class="form-control"
                placeholder="{{form.course.help_text}}"
                value="{{discipline.course}}"
              />
            </div>

            <!-- Field errors -->
            {% for error in form.course.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- Discipline description field -->
          <div class="{% if form.description.errors %}alert alert-warning{% endif %}">
            <!-- Input group -->
            <div class="input-group">
              <div id="{{form.description.id_for_label}}_wmd_button_bar"></div>
              <textarea
                type="text"
                class="form-control wmd-input"
                name="{{form.description.name}}"
                placeholder="{{form.description.help_text}}"
                id="{{form.description.id_for_label}}"
                cols="130" rows="10">{{discipline.description}}</textarea>
            </div>

            <!-- Field errors -->
            {% for error in form.description.errors %}
              <span class="error">
                {{ error }}
              </span>
            {% endfor %}
          </div>

          <!-- Discipline description preview -->
          <fieldset>
            <legend>{% trans 'Preview' %}</legend>
            <div class="col-sm-12 preview">
              <div class="markdown-preview"></div>
            </div>
          </fieldset>

          <!-- Classroom fieldset -->
          <fieldset>
            <legend>{% trans 'ClassRoom' %}</legend>
            <!-- Discipline classroom title field -->
            <div class="{% if form.classroom.errors %}alert alert-warning{% endif %}">
              <!-- Input group -->
              <div class="input-group">
                <!-- Field icon -->
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{form.classroom.label}}">
                      <i class="fa fa-slideshare"></i>
                </span>

                <!-- Field -->
                <input
                  type="text"
                  name="{{form.classroom.name}}"
                  class="form-control"
                  placeholder="{{form.classroom.help_text}}"
                  value="{{discipline.classroom}}"
                  required
                />
              </div>

              <!-- Field errors -->
              {% for error in form.classroom.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Discipline classroom password field -->
            <div class="{% if form.password.errors %}alert alert-warning{% endif %}">
              <!-- Input group -->
              <div class="input-group">
                <!-- Field icon -->
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{form.password.label}}">
                      <i class="fa fa-lock icon-md"></i>
                </span>

                <!-- Field -->
                <input
                  type="password"
                  name="{{form.password.name}}"
                  class="form-control"
                  placeholder="{{form.password.help_text}}"
                  value="{{discipline.password}}"
                />
              </div>

              <!-- Field errors -->
              {% for error in form.password.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Discipline classroom students limit field -->
            <div class="{% if form.students_limit.errors %}alert alert-warning{% endif %}">
              <!-- Input group -->
              <div class="input-group">
                <!-- Field icon -->
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{form.students_limit.label}}">
                      <i class="fa fa-users"></i>
                </span>

                <!-- Field -->
                <input
                  type="number"
                  name="{{form.students_limit.name}}"
                  min="0"
                  class="form-control"
                  max="60"
                  placeholder="{{form.students_limit.help_text}}"
                  value="{{discipline.students_limit}}"
                  required
                />
              </div>

              <!-- Field errors -->
              {% for error in form.students_limit.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>

            <!-- Discipline classroom monitors limit field -->
            <div class="{% if form.monitors_limit.errors %}alert alert-warning{% endif %}">
              <!-- Input group -->
              <div class="input-group">
                <!-- Field icon -->
                <span class="input-group-addon gradient"
                      data-toggle="tooltip"
                      title="{{form.monitors_limit.label}}">
                      <i class="fa fa-user-secret icon-md"></i>
                </span>

                <!-- Field -->
                <input
                  type="number"
                  name="{{form.monitors_limit.name}}"
                  value="{{discipline.monitors_limit}}"
                  min="0"
                  class="form-control"
                  max="10"
                  placeholder="{{form.monitors_limit.help_text}}"
                  required
                />
              </div>

              <!-- Field errors -->
              {% for error in form.monitors_limit.errors %}
                <span class="error">
                  {{ error }}
                </span>
              {% endfor %}
            </div>
          </fieldset>

          <!-- Submit button -->
          <button type="submit"
                  class="btn btn-primary submit-button center-block">
                  <i class="fa fa-plus"></i> {% trans 'Send' %}
          </button>
        </form>
      </div> <!-- Close col -->
    </div> <!-- Close row -->
  </div> <!-- Close container -->
{% endblock %}
