{% load static %}
{% load i18n %}

<!-- Discipline sidebar -->
<div class="col-sm-2">
  <div class="btn-group-vertical">
    <!-- Discipline description menu -->
    <a href="{% url 'disciplines:details' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       data-intro='Aqui você acessa os detalhes da disciplina'
       title="{% trans 'Description' %}">
       <i class="fa fa-book icon-lg"></i>
       <p>{% trans 'Discipline Details' %}</p>
    </a>

    <!-- Student list menu -->
    <a href="{% url 'disciplines:students' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-intro='Aqui você acessa a lista de estudantes'
       data-placement="right"
       title="{% trans 'Student list' %}">
       <i class="fa fa-slideshare icon-lg"></i>
       <p>{% trans 'Student List' %}</p>
    </a>

    <!-- Grade menu -->
    <a href="{% url 'grades:result' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-intro='Aqui você acessa a grade'
       data-placement="right"
       title="{% trans 'Grades' %}">
       <i class="fa fa-graduation-cap icon-lg"></i>
       <p>{% trans 'Final Grades' %}</p>
    </a>

    <!-- Groups menu -->
    <a href="{% url 'groups:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-intro='Aqui você acessa a lista grupos'
       data-placement="right"
       title="{% trans 'Groups' %}">
       <i class="fa fa-group icon-lg"></i>
       <p>{% trans 'Groups' %}</p>
    </a>

    <!-- Group rank menu -->
    <a href="{% url 'rank:group' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       data-intro='Aqui você acessa o rank do grupo'
       title="{% trans 'Group rank' %}">
       <i class="fa fa-trophy icon-lg"></i>
       <p>{% trans 'Group Rank' %}</p>
    </a>

    <!-- TBL sessions menu -->
    <a href="{% url 'modules:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-placement="right"
       data-intro='Aqui você acessa a lista de módulos'
       title="{% trans 'TBL sessions' %}">
       <i class="fa fa-puzzle-piece icon-lg"></i>
       <p>{% trans 'TBL Sessions' %}</p>
    </a>

    <!-- Files menu -->
    <a href="{% url 'files:list' discipline.slug %}"
       class="btn"
       data-toggle="tooltip"
       data-intro='Aqui você acessa os arquivos'
       data-placement="right"
       title="{% trans 'Files' %}">
       <i class="fa fa-folder-open-o icon-lg"></i>
       <p>{% trans 'Discipline Files' %}</p>
    </a>
  </div>
</div>
