<!-- Import to staticfiles -->
{% load static %}

<!-- internationalization -->
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>TBL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
    {% block css %}{% endblock %}
  </head>

  <body data-spy="scroll" data-target=".navbar">
    <!-- App block  -->
    {% block body %}{% endblock %}

    <!-- JS -->
    {% block js %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Insert markdown into app -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.7/marked.min.js"></script>
    <script src="{% static 'core/js/markdown.js' %}"></script>

  </body>
</html>
