<!-- Contact -->
<div class="parallax" id="contact">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="contact-header">Contact</h1>
    </div>
    <form class="container" action="#" method="post" autocomplete="off" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon gradient"><i class="fa fa-user-circle contact-icon-size"></i></span>
            <input id="name" type="text" class="form-control" name="name" placeholder="Nome">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-addon gradient"><i class="fa fa-envelope contact-icon-size"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <textarea class="form-control" rows="10" id="comment" placeholder="Comentário"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary send-button"><i class="fa fa-send"></i> Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
