<!-- Features -->
<div class="container">
  <div class="page-header" id="features">
    <h1 id="timeline" class="white">Funcionalidades</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge primary"><i class="fa fa-graduation-cap"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Administrar disciplinas e alunos</h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            O professor pode adicionar, remover, criar e editar disciplinas e turmas e disponibilizar a senha de acesso
            a elas para os alunos entrarem. além de poder remover estudantes da turma ou da disciplina e adicioná-lo em
            outras turmas e disciplinas de sua autoria e gerenciar suas notas.
          </p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-users"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Funcionalidades do TBL</h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            Funcionalidades relacionadas às fases de preparação, garantia de preparo ou RAT, iRAT, gRAT e apelações, Aplicação de conceitos
            e avaliação em pares
          </p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge danger"><i class="fa fa-bar-chart"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Relatório</h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            O professor terá um dashboard com relatórios do desempenho dos alunos em cada questão da avaliação, tendo um feedback para o
            que ele deve focar mais nas aulas, além de poder gerar um csv das provas dos alunos com suas respectivas respostas.
          </p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="fa fa-gamepad"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Rank e Gamificação</h4>
          <hr />
        </div>
        <div class="timeline-body">
          <p>
            Terá também um rank de grupos, na qual o primeiro colocado ficará exposto no Hall da Fama que será visto por novos
            alunos dos próximos semestres, não há rank individual porque o objetivo não é a competição e sim a colaboração.
            Além de ter uma gameficação na lista de exercícios entre outros locais do software.</p>
        </div>
      </div>
    </li>
  </div>
</div>
