<!-- Footer -->
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#advantages" class="footer-navbar"><i class="fa fa-list-alt"></i> Vantagens</a></li>
  <li><a data-toggle="tab" href="#about" class="footer-navbar"><i class="fa fa-slideshare"></i> Sobre</a></li>
  <li><a data-toggle="tab" href="#wiki" class="footer-navbar"><i class="fa fa-leanpub"></i> Documentação</a></li>
  <li><a data-toggle="tab" href="#how-to-use" class="footer-navbar"><i class="fa fa-film"></i> Como usar</a></li>
</ul>
<div class="tab-content container">
  <!-- Advantages -->
  <div id="advantages" class="panel panel-primary tab-pane fade in active footer-panel-shadow">
    <div class="panel-heading">Vantagens</div>
    <div class="panel-body text-justify">
      <p>A utilização do TBL tem algumas vantagens:</p>
      <ol>
        <li><b>Colaboração</b>: O principal objetivo é o aprendizado em equipes, um ajudando o outro.</li>
        <li><b>Entreterimento</b>: O software tem uma ideia de gameficação, tendo competição entre equipes para
        que as equipes possam treinar a colaboração entre si.</li>
        <li><b>Capacitação</b>: Profissionais mais capacitados para o mercado de trabalho, pois a métodologia faz o estudante
        estudar constantemente e trabalhar em equipe..</li>
        <li><b>Inovação</b>: Sair do comodismo e experimentar o novo.</li>
        <li><b>Ensino aprendizado</b>: O aluno se torna mais participativo e motivado a aprender e o professor torna a aula
        mais ativa e interessante.</li>
      </ol>
    </div>
  </div>
  <!-- About -->
  <div id="about" class="panel panel-primary tab-pane fade footer-panel-shadow">
    <div class="panel-heading">Sobre</div>
    <div class="panel-body text-justify">
      <p>Projeto desenvolvido por um aluno da universidade de brasília, UnB-Gama, no curso de Engenharia de Software,
      através do trabalho de conclusão de curso ou TCC.</p>
      <ul>
        <li><b>Aluno:</b> <a href="https://github.com/VictorArnaud" target="_blank">Victor Arnaud</a></li>
        <li><b>Stakeholder:</b> Elaine Venson, Cristiane Soares Ramos e Ricardo Ajax</li>
        <li><b>Orientadores:</b> Cristiane Soares Ramos e Ricardo Ajax</li>
        <li><b>Universidade:</b> Universidade de Brasília - UnB campus Gama</li>
        <li><b>Curso:</b> Engenharia de Software</li>
      </ul>
    </div>
  </div>
  <!-- Documentation -->
  <div id="wiki" class="panel panel-primary tab-pane fade footer-panel-shadow">
    <div class="panel-heading">Documentação</div>
    <div class="panel-body">A documentação se encontra na
      <a href="https://github.com/TeamBasedLearning/TBL/wiki" target="_blank">wiki do projeto</a>.
      <p>Repositorio do <a href="https://github.com/TeamBasedLearning" target="_blank">projeto</a>.
    </div>
  </div>
  <!-- How to use -->
  <div id="how-to-use" class="panel panel-primary tab-pane fade footer-panel-shadow">
    <div class="panel-heading">Como usar</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="video-frame embed-responsive-item" src="https://www.youtube.com/embed/LwUO6HEq6kM" frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <p>Vídeo de como usar o TBL.</p>
        </div>
        <div class="col-sm-6">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="video-frame embed-responsive-item" src="https://www.youtube.com/embed/yHssVGwCgDw" frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <p>Vídeo de como usar o software.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Copyright -->
<div class="row">
  <div class="col-sm-12">
    <p class="copyright">
      <i class="fa fa-copyright"></i> Team Based Learning. Code licensed GPL-3.0
    </p>
    <p class="copyright">
    Designed and built by
    <a href="https://github.com/orgs/TeamBasedLearning/people" target="_blank">Team members</a> with the help of our
    <a href="https://github.com/TeamBasedLearning/TBL/graphs/contributors" target="_blank">contributor</a>.
  </div>
</div>
