<!-- Extends core/base.html layout -->
{% extends "core/base.html" %}

<!-- Insert static files like images or css -->
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'core/css/parallax.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/tbl.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/timeline.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/news_home.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/contact.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
{% endblock %}

{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>
    {% include 'core/parallax.html' %}
    {% include 'core/features.html' %}
    {% include 'core/news.html' %}
    {% include 'core/contact.html' %}
  </main>
  <footer id="footer">
    {% include 'core/footer.html' %}
  </footer>
{% endblock %}
