<!-- Extends all code from core/base.html -->
{% extends "core/base.html" %}

<!-- Import to staticfiles -->
{% load static %}

<!-- Insert css into core/base.html css block -->
{% block css %}
  <link rel="stylesheet" href="{% static 'core/css/parallax.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/tbl.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/timeline.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/news_home.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/contact.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
{% endblock %}

<!-- Insert html into core/base.html body block -->
{% block body %}
  <div data-spy="scroll" data-target=".navbar">
    <header>
      {% include 'core/navbar.html' %}
    </header>
    <main>
      {% include 'core/parallax.html' %}
      {% include 'core/tbl.html' %}
      {% include 'core/features.html' %}
      {% include 'core/news.html' %}
      {% include 'core/contact.html' %}
    </main>
    <footer id="footer">
      {% include 'core/footer.html' %}
    </footer>
  </div>
{% endblock %}
