<!-- Extends all code from core/base.html -->
{% extends "core/base.html" %}

<!-- Import to staticfiles -->
{% load static %}

<!-- internationalization -->
{% load i18n %}

<!-- Insert css into core/base.html css block -->
{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/password.css' %}">
{% endblock %}

<!-- Insert html into core/base.html body block -->
{% block body %}
  <header>
    {% include 'core/navbar.html' %}
  </header>
  <main>
    <div class="container">
      <div class="page-header">
        <h1 class="white">{% trans 'Reset password' %}</h1>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form action="home.html" method="post">
            <div class="input-group">
              <span class="input-group-addon gradient"><i class="fa fa-envelope icon-md"></i></span>
              <input id="email" type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary center-block password-button">
              <i class="fa fa-send"></i> {% trans 'Send email' %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
