{% extends 'modules/details.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'appeals/css/list.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'appeals:list' discipline.slug session.id %}">
      {% trans 'Appeal List' %}
    </a>
  </li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="page-header profile">
      <h1 class="white">
        <i class="fa fa-balance-scale"></i>
        {% trans 'Appeal' %}<br />
        <small>{{discipline.title}} - {{session.title}}</small>
      </h1>
    </div>
    <div class="row fix-row white">
      <div class="col-sm-12">
        <div class="row">
          <div class="panel panel-default questions gradient">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-responsive">
                    <tr>
                      <th>
                        <i class="fa fa-graduation-cap"></i>
                        {% trans 'Course' %}:
                      </th>
                      <td>{{ discipline.course }}</td>
                    </tr>
                    <tr>
                      <th>
                        <i class="fa fa-book"></i>
                        {% trans 'Discipline' %}:
                      </th>
                      <td>{{ discipline.title }}</td>
                    </tr>
                    <tr>
                      <th>
                        <i class="fa fa-user"></i>
                        {% trans 'Teacher' %}:
                      </th>
                      <td>{{ discipline.teacher.get_short_name }}</td>
                    </tr>
                    {% if user != discipline.teacher %}
                      <tr>
                        <th>
                          <i class="fa fa-user"></i>
                          {% trans 'Student' %}:
                        </th>
                        <td>{{ user.get_short_name }}</td>
                      </tr>
                    {% endif %}
                    {% if group %}
                      <tr>
                        <th>
                          <i class="fa fa-users"></i>
                          {% trans 'Group' %}:
                        </th>
                        <td>{{ group }}</td>
                      </tr>
                    {% endif %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row fix-row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-11 text-center">
              <b>{% trans 'APPEALS' %}</b>
            </div>
            <div class="col-sm-1">
              <a href="#"
                 class="roles pull-right"
                 data-toggle="modal"
                 data-target="#myModal">
                 <i class="fa fa-info-circle"></i>
              </a>
              {% include 'appeals/info.html' %}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <!-- Appeals List -->
          {% include 'core/search.html' %}
          <br />
          {% for appeal in appeals %}
            <!-- News title -->
            <h2>
              {{ appeal.title }}
              <small>({{ appeal.created_at }})</small> <br />
              <small>{{appeal.question.title}}</small>
            </h2>

            <!-- News details -->
            <p class="text-justify">
              <!-- Truntate the word in character 35 -->
              {{ appeal.description|truncatewords:35 }}
              <!-- Go to absolute url defined in news model -->
              <a href="{% url 'appeals:detail' discipline.slug session.id appeal.id %}">
                {% trans 'Read more' %}
              </a>
            </p>

            <!-- If is the last loop insert divisor -->
            {% if not forloop.last %}
              <hr />
            {% endif %}
          {% empty %}
            <div class="alert alert-info">
              {% trans 'No appeals available' %}.
            </div>
          {% endfor %}
          <div class="row">
            <div class="col-sm-offset-10 col-sm-2">
              <a href="{% url 'appeals:create' discipline.slug session.id %}"
                 class="btn btn-primary btn-lg create-button">
                 <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
          {% include 'core/pagination.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}