.panel-title > a:hover,
.panel-title > a:focus {
  text-decoration: none;
}

.panel-heading {
  box-shadow: 0 1px 15px gray;
}

.panel-heading:hover {
  background-color: #efef8f;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.panel-footer {
  box-shadow: 0 1px 5px grey;
}

img {
  width: 150px;
  margin: 10px;
}

.thumbnail {
  padding: 10px;
}

.panel-group {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 30px;
}

.send-button {
  width: 100%;
  position: relative;
  right: 15px;
}

.remove-student-button {
  color: black !important;
  margin-bottom: 2px;
}

.add-button {
  position: fixed;
  right: 30px;
  z-index: 1;
  border-radius: 50%;
}
