{% extends 'modules/details.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'practical_test/css/detail.css' %}" />
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li>
    <a href="{% url 'practical:details' discipline.slug session.id %}">
      {% trans 'Practical test' %}
    </a>
  </li>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- Page header -->
    <div class="page-header profile">
      <h1 class="white">
        <i class="fa fa-crosshairs"></i>
        {% trans 'Practical Test' %}<br />
        <small>{{discipline.title}} - {{session.title}}</small>
      </h1>
    </div>

    <!-- Page sub-header -->
    <div class="row fix-row white">
      <div class="col-sm-12">
        <div class="row">
          <div class="panel panel-default questions gradient">
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-10">
                  <table class="table table-responsive">
                    <tr>
                      <th>
                        <i class="fa fa-graduation-cap"></i>
                        {% trans 'Course' %}:
                      </th>
                      <td>{{ discipline.course }}</td>
                    </tr>
                    <tr>
                      <th>
                        <i class="fa fa-book"></i>
                        {% trans 'Discipline' %}:
                      </th>
                      <td>{{ discipline.title }}</td>
                    </tr>
                    <tr>
                      <th>
                        <i class="fa fa-user"></i>
                        {% trans 'Teacher' %}:
                      </th>
                      <td>{{ discipline.teacher.get_short_name }}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-2">
                  {% if session.practical_available %}
                    <span class="label label-success pull-right">
                      {% trans 'Available' %}
                    </span>
                  {% else %}
                    <span class="label label-danger pull-right">
                      {% trans 'Unavailable' %}
                    </span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="row fix-row">
      <div class="panel panel-default">
        <!-- practical test header -->
        <div class="panel-heading">
          <div class="row">
            <!-- practical test -->
            <div class="col-sm-11 text-center">
              <b>{% trans 'PRACTICAL TEST' %}</b>
            </div>
            <!-- practical test info -->
            <div class="col-sm-1">
              <a href="#"
                 class="roles pull-right"
                 data-toggle="modal"
                 data-target="#myModal">
                 <i class="fa fa-info-circle"></i>
              </a>
              {% include 'practical_test/info.html' %}
            </div>
          </div>
        </div>

        <!-- Practical test content -->
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-body img-responsive-markdown">
                  {{session.practical_test_markdown}}
                </div>
              </div>
            </div>
          </div>

          <!-- Edit practical test -->
          {% if user == discipline.teacher or user in discipline.monitors.all %}
            <div class="row">
              <div class="col-sm-offset-10 col-sm-2">
                <a href="{% url 'practical:update' discipline.slug session.id %}"
                   class="btn btn-primary btn-lg edit-button">
                   <i class="fa fa-edit"></i>
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
