.login {
	position: absolute;
	top: 50%;
	left: 50%;
    margin-top: 100px;
    margin-left: -150px;
	width:300px;
}

.login h1 {
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  text-align: center;
}

.input-login {
  width: 100%;
  background: rgba(0,0,0,0.3);
  outline: none;
  padding: 10px;
  color: #fff !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}
.input-login:focus {
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

.input-group-addon {
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
}

.login-btn {
  margin-top: 10px;
}

.forget-password {
  color: white;
}

.forget-password:hover {
  color: white;
	text-shadow: 0 0 1px white;
  text-decoration: none;

}

.error {
  color: red;
  padding-left: 20px;
}

.group {
  margin-top: 5px;
}
