.carousel-indicators li {
  border-color: white;
}

.carousel-indicators li.active {
  background-color: white;
}

.carousel-indicators {
  top: 230px;
}

.item {
  font-size: 16px;
  line-height: 1.375em;
  font-style: italic;
  color: white;
}

.icon {
  position: relative;
  top: 50px;
}

.tbl-container {
  height: 350px;
}
