{% extends 'disciplines/details.html' %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'rank/css/rank.css' %}" />
{% endblock %}

{% block content %}
  <!-- Rank header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-8">
        <h1 class="white">
          <i class="fa fa-trophy"></i> Rank de grupos<br />
          <small>{{ discipline.title }}</small>
        </h1>
      </div>
      <div class="col-sm-4 text-center">
        <h1>
          <i class="fa fa-star star1"></i>
          <i class="fa fa-star star2"></i>
          <i class="fa fa-star star3"></i>
          <i class="fa fa-star star4"></i>
          <i class="fa fa-star star5"></i>
        </h1>
      </div>
    </div>
  </div>

  <!-- Rank body -->
  <div class="row fix-row">
    <div class="col-sm-12">
      {% for result in results %}
        <div class="panel-group">
          <div class="panel panel-default">
            <!-- Group title -->
            <div class="panel-heading">
              <b>{{ result.group.title }}</b>
            </div>

            <div class="panel-body">
              <div class="media">
                <!-- Group students -->
                <div class="media-body rank">
                  {% for student in result.group.students.all %}
                    {% if forloop.first %}<div class="row">{% endif %}
                    <div class="col-sm-2">
                      <figure>
                        {% if student.photo %}
                          <img src="{{ student.photo.url }}" class="img-thumbnail img-responsive" alt="Alunos" />
                        {% else %}
                          <img src="{% static 'rank/img/user.png' %}" class="img-thumbnail img-responsive" alt="Alunos" />
                        {% endif %}
                        <figcaption>{{ student.get_short_name }}</figcaption>
                      </figure>
                    </div>
                    {% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
                    {% if forloop.last %}</div>{% endif %}
                  {% endfor %}
                </div>

                <!-- Group rank position -->
                {% if forloop.counter == 1 %}
                  <div class="media-right">
                    <span class="position">1°</span>
                    <span class="first"><i class="fa fa-trophy"></i></span>
                  </div>
                {% elif forloop.counter == 2 %}
                  <div class="media-right">
                    <span class="position">2°</span>
                    <span class="second"><i class="fa fa-trophy"></i></span>
                  </div>
                {% else %}
                  <div class="media-right">
                    <span class="position">3°</span>
                    <span class="third"><i class="fa fa-trophy"></i></span>
                  </div>
                {% endif %}
              </div>

              <!-- Group badges -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  {% trans 'Badges' %}
                </div>
                <div class="panel-body">
                  <div class="row">
                    {% if result.total_score < 500 and not result.first_position %}
                      <div class="col-sm-12">
                        <div class="well">{% trans 'This group has not received any badge yet' %}</div>
                      </div>
                    {% endif %}

                    <!-- total score > 500 -->
                    {% if result.total_score > 500 %}
                      <div class="col-sm-2">
                        <figure>
                          <img
                            src="{% static 'dashboard/img/500.png' %}"
                            class="img-responsive badges"
                            alt="{% trans '500 Group Points' %}"
                          />
                          <figcaption class="text-center">{% trans '500 Group Points' %}</figcaption>
                        </figure>
                      </div>
                    {% endif %}

                    <!-- total score > 1000 -->
                    {% if result.total_score > 1000 %}
                      <div class="col-sm-2">
                        <figure>
                          <img
                            src="{% static 'dashboard/img/1000.png' %}"
                            class="img-responsive badges"
                            alt="{% trans '1500 Group Points' %}"
                          />
                          <figcaption class="text-center">{% trans '1000 Group Points' %}</figcaption>
                        </figure>
                      </div>
                    {% endif %}

                    <!-- total score > 2000 -->
                    {% if result.total_score > 2000 %}
                      <div class="col-sm-2">
                        <figure>
                          <img
                            src="{% static 'dashboard/img/2000.png' %}"
                            class="img-responsive badges"
                            alt="{% trans '2000 Group Points' %}"
                          />
                          <figcaption class="text-center">{% trans '2000 Group Points' %}</figcaption>
                        </figure>
                      </div>
                    {% endif %}

                    <!-- total score > 3000 -->
                    {% if result.total_score > 3000 %}
                      <div class="col-sm-2">
                        <figure>
                          <img
                            src="{% static 'dashboard/img/3000.png' %}"
                            class="img-responsive badges"
                            alt="{% trans '3000 Group Points' %}"
                          />
                          <figcaption class="text-center">{% trans '3000 Group Points' %}</figcaption>
                        </figure>
                      </div>
                     {% endif %}

                    <!-- first position -->
                    {% if result.first_position %}
                      <div class="col-sm-2">
                        <figure>
                          <img
                            src="{% static 'dashboard/img/first_position.png' %}"
                            class="img-responsive badges"
                            alt="{% trans 'First position' %}"
                          />
                          <figcaption class="text-center">{% trans 'First Position Once' %}</figcaption>
                        </figure>
                      </div>
                    {% endif %}

                    <!-- always first position -->
                    {% if result.always_first_position %}
                      <div class="col-sm-2">
                        <figure>
                          <img
                            src="{% static 'dashboard/img/trophy.png' %}"
                            class="img-responsive badges"
                            alt="{% trans 'Always first position' %}"
                          />
                          <figcaption class="text-center">{% trans 'First Position Always' %}</figcaption>
                        </figure>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <div class="well">{% trans 'There are no teams in rank yet.' %}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}