.modal {
  top: 40px;
}

.modal-content {
  background-color: transparent;
  border-radius: 10px;
}

.modal-header {
  background-color: #263238 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body {
  background-color: white;
}

.modal-footer {
  background-color: #263238 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modal-title {
  color: white;
}

.close, .close:hover {
  color: white;
}

.badge {
  padding-bottom: 5px;
}

.date {
  color: #B3B3B3;
  font-size: 11px;
}
