.questions {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}

.table-header{
  font-size: 18px;
  margin-bottom: 0;
}

.table-header th, .table-header td {
  border-top: initial !important;
  padding: 1px !important;
}

.fa-book {
  padding-right: 8px;
}

.fa-user {
  padding-right: 11px;
}

.progress-bar {
  background-color: #286090;
}

.reset {
  margin-top: 24px;
}
