{% load i18n %}

<div class="modal fade" id="grat-info" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans 'Rules' %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans 'The rules are very simple' %}:</p>
        <ul>
          <li>{% trans 'We have 4 options per alternative: 4 Points, 2 Points, 1 Point, 0 Point' %}</li>
          <li>{% trans 'If alternative with 4 Points is correct, it earns 4 points, otherwise decreases in half' %}</li>
          <li>{% trans 'You can only choose one option per alternative and can not be repeated' %}</li>
          <li>{% trans 'After answering the question you can scratch the scratch card and see the correct answer' %}</li>
          <li><b>{% trans 'Example' %} 01</b>: {% trans 'Alternative A insert 4 Points' %}</li>
          <li><b>{% trans 'Example' %} 01</b>: {% trans 'Alternative B insert 1 Point' %}</li>
          <li><b>{% trans 'Example' %} 01</b>: {% trans 'Alternative C insert 2 Points' %}</li>
          <li><b>{% trans 'Example' %} 01</b>: {% trans 'Alternative D insert 0 Point' %}</li>
          <li><b>{% trans 'Example' %} 01</b>: {% trans 'Alternative C is correct, so you have earned 2 points' %}</li>
        </ul>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
