.media {
  margin-top: 15px !important;
}

.media-object {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.add-button {
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  left: 1212px;
  z-index: 1;
}

.btn:active:focus, .btn:focus {
  outline: none;
}

.badge {
  font-size: 14px;
}

.dropdown-menu {
  min-width: 150px;
}

.submit-link {
  background:none!important;
  color:inherit;
  border:none;
  padding:0 !important;
  font: inherit;
  color: white;
  cursor: pointer;
}
