.password-button {
  width: 100%;
}

.input-group {
  padding: 10px;
}

.icon-md {
  font-size: 20px;
}

.submit-button {
  width: 100%;
  margin-bottom: 10px;
}

.error {
  color: red;
  padding-left: 20px;
}

.alert-info {
  margin-top: 20px;
}
